[2013-11-05 04:43] TehGimp commented on #174
I'll see if doing it as part of backupDatabase causes any performance issues.

[2013-11-05 05:10] rekcon commented on #170
I was able to fly to 40km, get out of my vessel (Kerman on the ground), and hit esc and go to the space center. All of the landed vessels then appeared in the tracking station.

[2013-11-05 06:29] Night007 commented on #42
I still have the same issue (the first one) with version 0.1.2.0.

[2013-11-05 07:41] werewolf-nr opened #176 "Sync failure"
Two clients that connected within seconds of each other, one got daytime and the other got night time. See screenshot linked below.

http://i.imgur.com/3bQS8er.jpg

[2013-11-05 09:29] krzys-h opened #177 ""Disconnect" button doesn't work?"
Pressing "disconnect" button doesn't seem to work properly, I need to wait about 10 seconds before connecting again, then following messages appear in the server console:

[code]

If I try to reconnect too quickly it tells me that this username is already in use.

Client log:

[code]

[2013-11-05 09:48] krzys-h commented on #152
I can't reproduce it in 0.1.2.0. It may have been caused by restarting server (I was doing it as a workaround for issues #92 and #105). BTW I can't reproduce #92 anymore either.

[2013-11-05 09:48] RebelFreedom opened #178 "3 missing dll"
i seen youve said youve fixed this, so i re-downloaded server and then kmp.. and command promt is still saying im missing the three dll.'s im supposed to add. i did ofcourse add those to were the server is located. i dont think its me failing, unless im somehow stupid, but its definitely in the same spot as the server.

ive got windows 7. 64 bit. ive been spamming every install step at random shor

[2013-11-05 10:30] krzys-h opened #179 "Flag = prohibited part? (+ saving flag bug)"
I've placed a flag. I've readen somewhere that flag is sent to server after 60 seconds to allow to write text on the flag. But I've written text and disconnected before 60 seconds have passed. And what happened after reconnecting?

1.
Flag doesn't have a title
![screenshot17](https://f.cloud.github.com/assets/1517255/1472410/d1851652-4601-11e3-8acb-0afedbe0c413.png)

2.
I was able to switch to the

[2013-11-05 10:32] krzys-h commented on #179
It looks like I don't have to even reconnect to make it happen.
1. Go to space center and back twice
2. Just try to switch to the flag in the same session
3. Happens always after switching to space center and back

[2013-11-05 10:41] krzys-h commented on #179
I forgot about logs ;)
On server is just:

[code]

On client:

[code]

(last warning twice because I've placed another flag to test)

[2013-11-05 10:47] krzys-h commented on #179
And client log from placing flag (previous one was when flag was falling into the ground):

[code]

[2013-11-05 12:08] ghost opened #180 "server should refuse connection in other clients not compatible"
for not doing this
http://forum.kerbalspaceprogram.com/threads/55835-Kmp-0-22-wip-alpha?p=756745&viewfull=1#post756745

it should refused BEFORE SYNC !

[2013-11-05 12:11] ghost commented on #157
so it should reloaded on next flight, not reconnect.

[2013-11-05 12:13] ghost opened #181 "cant load, write more reason of disconnect to log for player"
look at the time of this:

[LOG 16:10:42.482] PartLoader: Compiling Internal Space 'Squad/Spaces/crewCabinInternals/internal/crewCabinInternals'
[LOG 16:10:42.490] PartLoader: Compiling Internal Space 'Squad/Spaces/cupolaInternal/internal/cupolaInternal'
[LOG 16:10:42.506] PartLoader: Compiling Internal Space 'Squad/Spaces/GenericSpace1/internal/GenericSpace1'
[LOG 16:10:42.508] PartLoader: Compil

[2013-11-05 12:30] ghost opened #182 ""True False False" in log"
[LOG 16:28:58.241] no protovessel
[LOG 16:28:58.243] updating from flight data, distance: 861794.1
[LOG 16:28:58.244] True False False    <==============
[LOG 16:28:58.244] update from past/future
[LOG 16:28:58.245] updated

and what does this mean in log? it should be in human understand mode for other developers!

[2013-11-05 12:33] ghost opened #183 "empty log string"
[LOG 16:28:16.443] updating Orbit: 0ffba694-7cc6-485f-837f-c1810c4442c6
[LOG 16:28:16.444] current vel mag: 2302.71231558195
[LOG 16:28:16.445]
[LOG 16:28:16.446] handleVesselUpdate
[LOG 16:28:16.447] vessel state: ACTIVE, tick=171602876.087864, realTick=171602875.987864

---

[LOG 16:28:16.445]  <<============= and what?
it should not be here empty

[2013-11-05 12:35] ghost opened #184 "got crash leaving 40km zone near the water near KSC"
[LOG 16:28:16.640] update from past/future
[LOG 16:28:16.640] updated
[LOG 16:28:16.641] vessel update applied
[LOG 16:28:16.642] handleVesselUpdate done
[LOG 16:28:16.643] handleVesselUpdate
[LOG 16:28:16.644] vessel state: ACTIVE, tick=171602880.187866, realTick=171602880.311
[LOG 16:28:16.644] retrieving vessel: 0ffba694-7cc6-485f-837f-c1810c4442c6
[LOG 16:28:16.645] vessel found: 0ffba694-7cc6

[2013-11-05 12:39] ghost opened #185 "error create http port listening on server"
http://forum.kerbalspaceprogram.com/threads/55835-Kmp-0-22-wip-alpha?p=757319&viewfull=1#post757319

it should wrote to server log correctly "can't open socket on port" , etc.

and should handle such exceptions more carefully and stops do anything after it.

not doing totally server crash on them.

[2013-11-05 12:46] Jalict commented on #1
(Disclaimer my Linux & GitHub knowledge is quite limited)
I've been trying to replace the libraries with native ones. I've sqlite3 installed on my CentOS 6 64-bit VPS.
I found the `libsqlite3.so.0`. and replaced it, but no luck. What else could I try? I know the dll's are libraries, but they are Windows exclusive, so how would I go about finding native ones for that?
If you could guide a general a

[2013-11-05 13:20] MickaelVanSchie commented on #1
Oh, my bad for the lack of activity. I tried replacing the libsqlite3.so.0 aswell like @Jalict But it didn't work for me either.

[2013-11-05 13:27] MickaelVanSchie commented on #185
Its possible that this is caused by another program like Skype, or if you are running a webserver like Xampp this might be the problem. Try setting your HTTP port to a different port like 81

[2013-11-05 13:42] Jalict commented on #1
I just took a quick look at the pull requests and found this https://github.com/TehGimp/KerbalMultiPlayer/pull/175. Where @velusip writes:

[code]

Could this be relevant?

[2013-11-05 13:47] MickaelVanSchie commented on #1
@Jalict I don't think the KerbalMultiPlayer.dll is the problem. As you can see in OP its caused by an SQLite error, so most likely its something like the SQLite.dll or something similar

[2013-11-05 13:48] ghost commented on #184
when it happens i was viewing the whole map by pressing "m" and my plane stabily (!!!!) fly at 10km height near water, leaving 40km zone.

it was equall 40km when happens. and i watch control ball - the height was - 10km above water.

after this it shows no kerbin it shows the space.

[2013-11-05 13:50] ghost commented on #184
take this twice in the same server:

[KMP] PonCorp Space Program Universe - EU Reddit Server OFFICIAL EU SERVER  kmp.ponzio.li   2076    1 / 25  Dimmy

last one was when i wrote this post.

[2013-11-05 13:51] ghost opened #186 "Syncing can cause you to warp to the other side of planets"
Description:
Player A and B are playing KSP together. Player A warps and Player B's space ship is going to land on the Mun. Player B syncs with Player A, and his ship is teleported to the other side of the Mun (as if his trajectory was completed and as if the Mun wasn't there in the first place).

Steps:
1, Player B sets a trajectory which will cause him to impact a celestial body (Mun, Kerbin, et

[2013-11-05 13:55] ghost commented on #184
crashed again.
now i was controlling the plane and fly to the north from KSC.
when it was  39.99km from KSC a got crash into nothing, kerbal disappeared and shows space and "flight results" menu that my ship was crashed.

more log: http://pastebin.com/4W6QAC0x

most interesting part:

[LOG 17:39:25.753] handleVesselUpdate
[LOG 17:39:25.754] vessel state: INACTIVE, tick=307.500000000011, realTick=1

[2013-11-05 13:56] ghost opened #187 "Switching to another player's spaceship causes the game to boot you out and leave your progress unsaved"
Description:
Player A and B are playing KSP together. Player A logs off to do something else, and Player B attempts to take control of his ship (without permissions set). Player B is kicked to lobby and loses all of his progress so far with his current ship launch.

Steps:
1, Player B must have launched a ship this session
2, Player A logs out and leaves his ship in orbit around a celestial body (

[2013-11-05 13:57] ghost commented on #185
it should do correct log for this situations and messages for administrator to solve the problem.
not crashes and exceptions on this.

for all reasons why it was happened.

[2013-11-05 14:12] MickaelVanSchie commented on #185
It is correctly logged, it says it can not open a socket on port 80.. Wich is sometimes caused by skype. And well if you are hosting a website it's most likely run on port 80

[2013-11-05 14:14] TehGimp commented on #42
Thanks for confirmation @Night007--this one is a major target for v0.1.3

[2013-11-05 14:21] TehGimp commented on #152
Tentatively closing...

[2013-11-05 14:21] #152 closed, assigned to nobody

[2013-11-05 14:36] TehGimp commented on #187
Can anybody else duplicate this problem?

[2013-11-05 14:43] TehGimp commented on #185
This is correct behaviour. The error is reported correctly, although we could look into wrapping the error with better explanatory text. In the meantime, this issue is common enough that even new server ops are quickly shown the correct solution.

[2013-11-05 14:43] #185 closed, assigned to nobody

[2013-11-05 14:47] TehGimp commented on #182
Old debug entries related to vessel loading conditions, removed in new commit. Thanks!

[2013-11-05 14:47] #182 closed, assigned to nobody

[2013-11-05 14:47] TehGimp commented on #183
I wasn't able to locate anywhere where KMP would generate an empty log entry--this could be a KSP entry...

[2013-11-05 14:47] #183 closed, assigned to nobody

[2013-11-05 14:48] TehGimp commented on #157
It should also be loaded up if you leave server and reconnect--if that isn't working, please re-open this issue. Thanks!!

[2013-11-05 14:51] TehGimp commented on #186
I think if you sync far enough into the future that your "orbit" (as drawn by KSP if you zoom into a celestial body's interior) takes you through the body, then KMP will happily allow your craft to survive. This may be as easy as checking if the vessel ever passed a too-low periapsis in syncExtantVesselOrbit

[2013-11-05 14:54] TehGimp commented on #181
The KMPClientMain class initializes itself by performing disconnection cleanup, but disconnection reasons need to be more clear--this one looks like a simple IP connectivity issue.

[2013-11-05 14:56] TehGimp commented on #179
The flag part needs to be added to the default KMPPartList.txt. The issue with flag text is a known pre-release one--we need to be smarter about watching for flag text changes instead of just waiting for a simple timeout and only checking for updates once.

[2013-11-05 15:18] TehGimp commented on #180
In the screenshot, both client and server have v0.1.2.0--network protocol versioning is in place and functioning, although we do need to ensure that a disconnected client does not proceed to the initial universe sync (which seems to happen sometimes).

[2013-11-05 15:18] krzys-h commented on #187
I can't reproduce it. It booted me to Tracking Station (It would be better to just switch back to player A's ship I think), but it didn't revert player B's flight

[2013-11-05 15:19] TehGimp commented on #172
Anyone else seen the same on another platform?

[2013-11-05 15:20] TehGimp commented on #177
Probably related to #172

[2013-11-05 15:22] TehGimp commented on #184
Looks like a re-appearance of the "bubble kraken", though reports of these issues are much fewer in v0.1.2.0. Definitely a Krakensbane shift that was responsible, which shouldn't be happening in-atmo.

[2013-11-05 15:23] TehGimp commented on #139
Can anyone reproduce this in v0.1.2.0? Tentatively closing as I've had no luck despite multiple attempts.

[2013-11-05 15:23] #139 closed, assigned to nobody

[2013-11-05 15:24] #134 closed, assigned to nobody

[2013-11-05 15:24] TehGimp commented on #184
Related to #141

[2013-11-05 15:26] TehGimp commented on #111
@Thunder005 Can you confirm if things are improved in 0.1.2.0? Perhaps we just need the client to delete persistent.sfs when KMP starts/stops now...

[2013-11-05 15:29] TehGimp commented on #83
This should be largely resolved in v0.1.2.0, aside from cases where there is insufficient bandwidth or server is overloaded. Can anyone confirm?

[2013-11-05 15:32] TehGimp commented on #105
This should be resolved in v0.1.2.0, please re-open if it is seen again.

[2013-11-05 15:32] #105 closed, assigned to nobody

[2013-11-05 15:34] TehGimp commented on #19
Looking into resolution options for v0.1.3.0, but this one could potentially slip again...

[2013-11-05 15:39] TehGimp commented on #187
That sounds like the expected behaviour, aside from the fact that if A's ship is public it should be made available to B nearly immediately after A vacates it (maybe not happening if A disconnects unexpectedly?)

[2013-11-05 15:54] ghost commented on #187
In the original bug:
Player A had disconnected from the game for a few minutes prior to Player B attempting to switch ships. Server had confirmed that Player A had disconnected.

I will try to test this again in a few hours.
When at the Tracking Station (not mission control: jargon was wrong there), Player B could not see Player A's ship in orbit (not sure if this is expected behaviour or not).

[2013-11-05 17:40] CampfireHeadphase opened #188 "Load button does not work"
Ever since updating to 0.1.2.0, the load button will not work for me for both VAB and SPH, making me unable to load any craft.

[2013-11-05 17:44] TehGimp commented on #188
Looks like a dupe of #147.

[2013-11-05 17:44] #188 closed, assigned to nobody

[2013-11-05 18:58] Xinayder commented on #177
Seems like an Issue with your OS. I'm running Windows 8.1 and it seemed fine to me - I could disconnect from the server and join other ones.

[2013-11-05 18:59] TehGimp commented on #177
@krzys-h Can you confirm what OS you're running?

[2013-11-05 19:04] Wetmelon commented on #177
Disregard. Wrong bug

[2013-11-05 19:06] TehGimp commented on #177
OK--next time anyone sees this can you pull up the debug log and see if maybe we can blame a flood of NullReferenceExceptions for the intermittent problem?

[2013-11-05 19:06] TehGimp commented on #172
Please track this issue in #177--thanks!!

[2013-11-05 19:06] #172 closed, assigned to nobody

[2013-11-05 19:18] cardgame commented on #19
I think this issue is indeed caused by other users in the same space. I was maneuvering just fine, boosting myself from 300km to 600km with multiple other vessels (inactive) at 80-200km. Two other users were on Mün at the time, so it will work in multiplayer in general.

When there are multiple active vessels, it will seemingly jump between my player ship and any other orbital path, including non-

[2013-11-05 19:34] cardgame commented on #173
I  have uploaded a short [18s] video here demonstrating similar havoc on Mün.

http://www.youtube.com/watch?v=ZP9jJiQcM8w

I also experienced floating Kerbals that glitched around a lot, flying supported by their arms, stuck inside the surface. Only have photos of that, and they're very dark; the first photo here demonstrates it adequately.

[2013-11-05 20:20] hashashin commented on #174
I'm doing tests on my server with a home made version of master with the vacuum thing just after the backup cycle and before it's loading to mem again. The 1st time take a while but subsequent runs are quick, and seems dont affect performance. And now db file increases much slower. I can share the patch if you want, but it's a ugly hack just for the test.

[2013-11-05 20:22] loofy01 opened #189 "Player has dissconected: Connection lost"
Every time my friend tries to join the same error comes up from the title; Player has dissconected: Connection lost

[2013-11-05 20:25] krzys-h commented on #189
Is there anything else in the server console or client log?

[2013-11-05 20:35] Nemecle opened #191 "[minor bug] Weird Text bug"
I left a server because of a bad synchronisation, and i got the last message of the chat, '<Phoenix>.<' in the bottom-left corner of the connecting-window of the main menu

http://nsa33.casimages.com/img/2013/11/05/131105094413734322.png

[2013-11-05 20:43] loofy01 commented on #189
No, just that, it's probably on my friends side now to think about

[2013-11-05 20:44] RasmusBeck commented on #186
Yup, most definitely a bug caused by the sync "jumps". Time to exploit for fun and profit!

[2013-11-05 20:44] TehGimp commented on #174
May as well take a peek at the patch

[2013-11-05 20:45] krzys-h commented on #177
OS: Windows 7

---

I don't see any NREs. It happens **every time** I click disconnect.

Full log: [on pastebin](http://pastebin.com/ji8X481F)

Interesting part:

[code]

If I remember correctly it wasn't happening in previous version

---

PS. If you closed #172 you can remove label "duplicate" :)

[2013-11-05 20:47] krzys-h commented on #191
Might be related to #177, there should be message "Disconnected"

[2013-11-05 20:47] TehGimp commented on #191
Same bug as causes #166--please track this issue there, thanks!

[2013-11-05 20:47] #191 closed, assigned to nobody

[2013-11-05 20:48] TehGimp commented on #189
@loofy01 Sounds likely--let us know if you uncover anything that suggests a problem in the client/server.

[2013-11-05 20:48] #189 closed, assigned to nobody

[2013-11-05 20:50] TehGimp commented on #177
Thanks for confirmation!

[2013-11-05 20:51] micle546 opened #192 "Connection Lost...?"
KMP Version: 0.1.2.0 from spaceport

KMP is randomly disconnecting players during gameplay. This only occurs with one player at a time, and seems to be related to the ascent of a spacecraft from KSC.

Working on getting the logs from our admin, but from what I'm hearing, all it says is player disconnected.

[2013-11-05 20:52] krzys-h commented on #192
Probably duplicate of #184 or #141

[2013-11-05 20:54] TehGimp commented on #192
Does this appear to happen around the edge of the "KSC safety bubble" (~40km distance)? Sounds like #141 & #184

[2013-11-05 20:57] micle546 commented on #192
isn't crashing, just states, "You have been disconnected from the server, return to the main menu to reconnect"

Game continues fine and is still playable afterwards

edit: will check on the safety bubble

[2013-11-05 20:58] TehGimp commented on #192
Would be useful to know if the server-side log shows your disconnection reason as being that your client was "too slow"

[2013-11-05 21:07] TehGimp commented on #22
@velusip would you be able to hop onto #KMP so I can ask a quick question, or send me a PM on your platform of choice? Thanks!

[2013-11-05 21:09] velusip commented on #1
Those changes I made are for anyone who wishes to build KMP themselves and do not affect the current release.

I think your issue is likely a file permissions issue -- possibly invoked by a security feature in your VPS (like SELinux or Apparmor-type app).  Check file permissions: ls -lah; umask; especially on the newly generated db and log files -- if they were created at all.  Make sure the direc

[2013-11-05 21:10] ghost commented on #143
i think my issue with crash when i fly 39.9 to 40  km in atmoshere belong to this.

[2013-11-05 21:11] TehGimp commented on #143
@AIMaster they're related at a minimum--many gameplay issues we see right now seem to involve the bubble, especially when flying in-atmo on Kerbin.

[2013-11-05 21:14] ghost commented on #143
ok. issue 184 belong to this too.

[2013-11-05 21:14] TehGimp commented on #143
#184 #141 just linking related issues

[2013-11-05 21:36] hashashin commented on #174
https://github.com/hashashin/KerbalMultiPlayer/commit/932a9c4734f96aaf3b1eeca021d077d1ab076672#diff-a4c0b245f0735d542896477a38b8494e
Sorry for delay, as I say just a ugly hack to test the thing... but seems help keep the db file more compact. My programming skills are awfull XD.

[2013-11-05 22:03] TehGimp commented on #174
Thanks!

[2013-11-05 22:23] micle546 commented on #192
nada on the safety bubble, just happened around 70km in orbit

[2013-11-05 22:24] micle546 commented on #192
[LOG 17:21:31.083] sending primary update
[LOG 17:21:31.365] sending primary update
[LOG 17:21:31.655] First or forced proto update for active vessel: 966c68aa-4651-47d9-ab70-698d74312c73
[LOG 17:21:31.656] sending primary update
[LOG 17:21:31.821] OnTimeWarpRateChanged
[LOG 17:21:31.864] OnTimeWarpRateChanged
[LOG 17:21:32.031] sending primary update
[LOG 17:21:32.297] sending primary update
[LOG

[2013-11-05 22:33] TehGimp commented on #192
@micle546 can you confirm with the server admin if they can see the given disconnection reason?

[2013-11-05 22:39] micle546 commented on #192
they'll be here shortly

EDIT: not sure if relevant:
taken at about 7km just after launch, disconnection occurred as the 'Jeb unloaded' message appeared
http://imgur.com/pbjo5Gf

[2013-11-05 22:50] butterkitty commented on #192
I have this bug running within a local network and it did it about 4 times between launching and docking something at 150km (took about 30 minutes probably).  It did it at all steps in the process.  The server only says "Connection Lost".  Not much information to go off of >.<

[2013-11-05 22:51] micle546 commented on #192
Might there be a verbose output flag for KSP and it's logs?

[2013-11-05 22:52] ghost opened #193 "Players disappearing/reappering from player list a lot"
Players keep disappearing and reappering from player list when I'm playing on a server with lots of vessels and many players.

Video clip showing some of this: http://www.youtube.com/watch?v=OHQmMPgmE7o

I also got low fps when I was in orbit earlier and then disconnected after the player list blink got worse. KMP 0.1.2.0

[2013-11-05 22:53] TehGimp commented on #192
@butterkitty thanks
@micle546 not on the client-side, but the server offers many verbosity levels, the most talkative being
/set LogLevel DEBUG

[2013-11-05 22:54] TehGimp commented on #192
Confirmed this is **_not**_ related to bubble-boundary issues #s 141 & 184

[2013-11-05 22:56] butterkitty commented on #192
I've done /set LogLevel DEBUG on the server and it doesn't seem to make a difference.  Don't know if putting it in the server console while it's hosting is the right time.

[2013-11-05 22:58] TehGimp commented on #192
@butterkitty needs to be done before the /start, but I believe you can also:
/quit
/set LogLevel Debug
/start

in a running server and I wouldn't mind seeing someone actually test that

[2013-11-05 23:04] TehGimp commented on #193
related/duplicate of #83

[2013-11-05 23:07] butterkitty commented on #192
Okay, I quitted, turned off autohost and put in the command and started it.  It said "[Info] : LogLevel changed to DEBUG" before i started it, so it should be good.

I just ran it and it disconnected at ~270km and I don't see anything more than I did before >.<

[2013-11-05 23:07] TehGimp commented on #192
Fascinating--still just "Connection lost"?

[2013-11-05 23:09] butterkitty commented on #192
Yep

[2013-11-05 23:09] TehGimp commented on #192
Thanks for confirmation!

[2013-11-05 23:10] butterkitty commented on #192
[16:00:07] [Info] : New client...
[16:00:07] [Info] : Client TCP connection established...
[16:00:07] [Info] : Accepted client from 192.168.20.206:54667. Handshaking...
[16:00:07] [Info] : butterkitty has joined the server using client version 0.1.2.0
[16:03:47] [Info] : New vessel ce59003f-814e-4e2d-bbe0-ffdde86ad00d from butterkitty added to universe
[16:05:00] [Info] : Backing up old disk DB...

[2013-11-05 23:10] butterkitty commented on #192
np ^.^

[2013-11-05 23:54] Timestorm commented on #192
I am Micle's admin, my server running Linux (Gentoo) is also returning a general "Connection lost" message.

[16:11:37] [Info] : New client...
[16:11:37] [Info] : Client TCP connection established...
[16:11:37] [Info] : Backing up old disk DB...
[16:11:37] [Info] : Accepted client from 162.226.0.75:62589. Handshaking...
[16:11:37] [Info] : Micle has joined the server using client version 0.1.2.0
[

[2013-11-06 00:26] butterkitty commented on #192
I'm running Ubuntu server 13.04 running Mono JIT compiler version 2.10.8.1 (Debian 2.10.8.1-5ubuntu1), not sure if that helps.  Don't know if it's just a linux thing.

So I've run some more tests and it seems to be rather random.  I basically took the same rocket design and launched it straight up.  At the top of the parabola it reached about 700km both times.

The first test I ran reached a heigh

[2013-11-06 02:00] micle546 commented on #192
Not sure if this would work or not, since I have little code experience, but to help track down the bug, would it be possible to intentionally break part of the code, in order to generate a stack trace, which might hint as to the source of the bug?

IE: break some part of the "You've been disconnected from the server, return to the main menu to reconnect" message delivery, and wait for a wild disc

[2013-11-06 02:04] TehGimp commented on #192
@micle546 At least if the LogLevel is set to Debug (and I think in @butterkitty's case that may not have necessarily happened since the server wasn't _fully_ rebooted), there would be messages that would tell us where the disconnection was coming from in order to research further.

Please know that testers are also quite welcome on #KMP on EsperNet if you're interested in coordinating your own tes

[2013-11-06 03:02] Timestorm commented on #192
Here is the debug log from the server...

[20:30:45] [Info] : New client...
[20:30:45] [Info] : Client TCP connection established...
[20:30:45] [Info] : Accepted client from 162.226.0.75:53911. Handshaking...
[20:30:45] [Debug] : Sending message: NULL
[20:30:45] [Info] : Micle has joined the server using client version 0.1.2.0
[20:30:45] [Activity] : Micle set to lead subspace 55
[20:30:45] [Activ

[2013-11-06 03:04] TehGimp commented on #192
Fascinating--that particular one looks like a shaky connection. @micle546 just for the record, are you using wi-fi when this happens perchance?

[2013-11-06 03:08] micle546 commented on #192
nope

[2013-11-06 03:14] rekcon commented on #170
I have been able to get vessels to reappear after double clicking to board a vessel in orbit. After entering the vessel a similar log is printed as when you first log in, but with one difference. Lines similar to the below print:
[LOG 22:04:25.300] [Plane Mark IIC Debris]: landed - waiting for ground contact to resume physics...
[LOG 22:04:25.401] [Corkin Kerman]: landed - waiting for ground conta

[2013-11-06 03:22] TehGimp commented on #170
Very interesting that the initial universe sync is missing these messages...

[2013-11-06 03:43] TehGimp commented on #174
Implemented in latest commits, seems to work nicely. Thanks again! Hashashin, can you drop by the IRC channel or send me a PM on the platform of your choice?

[2013-11-06 03:54] Xjph opened #194 "Binding mouse0 to menu toggle makes UI unusable"
It's a pretty silly mistake to make on the part of the user, but should be a simple enough matter to make it impossible.

[2013-11-06 04:00] TehGimp commented on #194
Thanks for the report!

[2013-11-06 04:02] #174 closed, assigned to TehGimp

[2013-11-06 04:03] TehGimp commented on #171
Partially addressed in latest commits, but we should look into possibly re-requesting last large packet on any decompression failure.

[2013-11-06 04:15] rekcon commented on #173
Approaching other players while on surface results in a time_sync storm from server:
[22:59:31] [Debug] : Sending time-sync to rekcon2 current offset 0.185

Also attached a KSP.log when approaching another player: https://www.dropbox.com/s/kwojt0yqc11nf9p/KSP.log

NREs all around once I approach the other player.

[2013-11-06 04:29] TehGimp commented on #194
Thanks even more for the patch!!

[2013-11-06 04:29] #194 closed, assigned to nobody

[2013-11-06 06:18] TehGimp commented on #83
Confirmed that this occurs only when server or client is overloaded--continued performance improvements should help to address this problem, but otherwise please consider playing on lower capacity servers.

[2013-11-06 06:18] #83 closed, assigned to nobody

[2013-11-06 06:19] TehGimp commented on #193
Confirmed that this is just overloaded client/server--we'll continue to improve performance to address this, but otherwise all that can be done is to play on lower-capacity servers. Sorry!

[2013-11-06 06:19] #193 closed, assigned to nobody

[2013-11-06 06:21] TehGimp commented on #42
@Night007 Do you happen to .Net 3.5 installed also? http://msdn.microsoft.com/en-us/library/hh506443(v=vs.110).aspx

[2013-11-06 06:23] TehGimp commented on #116
Any word on whether this is present in 0.1.2.0?

[2013-11-06 07:58] ghost opened #198 "loosing vessels after docking, syncing, space positioning problem 0.1.2"
copy of
http://forum.kerbalspaceprogram.com/threads/55835-Kmp-0-22-wip-alpha?p=759718&viewfull=1#post759718

I just tried 0.1.2 with my friend to complete a space docking.
We two launch a space shuttle and a spacecraft into the low orbit.
Then we can quickly see each other and the sync is good enough once the distance is more than 50km.
Then, we did the intercept, and we can observe that one is ap

[2013-11-06 09:26] micle546 commented on #192
Confirmed fix, played several hours with no disconnections

[2013-11-06 09:26] #192 closed, assigned to nobody

[2013-11-06 10:03] Night007 commented on #42
![screen](https://f.cloud.github.com/assets/5817510/1481494/8f47d21a-46ca-11e3-90b7-5625e7fc2756.png)

Yeah. Both, 3.5 and 4.0.

[2013-11-06 10:55] m1ndst0rm opened #200 "System.Net.ProtocolViolationException on server"
As random times with no players connected I get a ProtocolViolationExeption:
http://puu.sh/5ahKZ.log

[code]

The server saves the universe and restarts so no "major" issue. Also havn't had this while clients where connected (yet?). This is from 0.1.2 spaceport downloaded build.

I think it's caused by crawlers/bots since my http port is set to 80 which is used frequently by them.

[2013-11-06 13:42] Dingbat1967 opened #201 "[Enhencement] Prevent debris from being lockable"
Went on KSP1.ZONE-51.ORG, wanted to clear out the debris, unfortunately most was locked private by the players who generated said debris.  Debris should always be unlocked.

:)

Thanks.

PS: Sorry if I haven't tested so much these past 24 hours.  Real Life is a bitch.

[2013-11-06 13:55] krzys-h commented on #201
See commit b68733c0f9221c7144038903c2f1a08ada82f6be

[2013-11-06 13:57] krzys-h opened #202 "Server setting to disable "KSC safety bubble""
and maybe modify it's radius

[2013-11-06 15:19] TehGimp commented on #200
Partially mitigated by new default httpPort of 8081. Could be a case of http://stackoverflow.com/questions/18203552/system-net-protocolviolationexceptionbytes-to-be-written-to-the-stream-exceed-t

[2013-11-06 15:23] TehGimp commented on #201
As noted by @krzys-h this is in-place for next release

[2013-11-06 15:23] #201 closed, assigned to nobody

[2013-11-06 15:24] TehGimp commented on #202
Initial steps to accomplish this are in place (thanks to rekcon), and so we just need to test with some alternate bubble sizes to confirm if there are any critical gameplay/performance implications.

[2013-11-06 15:29] TehGimp commented on #200
Dingbat1967 will take a peek at this one shortly

[2013-11-06 15:30] TehGimp commented on #198
Thanks for the report! The next time you see these odd positioning errors during rendezvous, can you watch your debug log to see if they are associated with errors coming from the KSP engine (typically NullReferenceExceptions & similar)?

[2013-11-06 15:52] cullyn opened #203 "Client spams server on vehicle destruction"
just after clearing 35k i dropped 2 lift boosters which all three were added to the universe, expected. Shortly after that, every 4 seconds the server was being spammed with the vehicle has been destroyed message. I am assuming it is because they fell into the safety bubble.

from my server log.

[code]

 until i quit the game where it crashed ksp

tried a second time, also happened when dropped a

[2013-11-06 15:57] Jumba opened #204 "System.Data.SQLite.SQLiteException: SQL logic error or missing database cannot VACUUM - SQL statements in progress"
[16:39:56] [Info] : Shrinking database...
[16:39:56] [Error] : Unexpected exception encountered! Crash report written to log file
[16:39:56] [Error] : System.Data.SQLite.SQLiteException: SQL logic error or missing database
cannot VACUUM - SQL statements in progress
  at System.Data.SQLite.SQLite3.Reset (System.Data.SQLite.SQLiteStatement stmt) [0x00000] in <filename unknown>:0
  at System.Data.SQL

[2013-11-06 16:02] TehGimp opened #205 "Log messages use concatenated strings"
There are many instances of concatenated strings being passed to the new server log, e.g.

These should all be replaced with parametrized strings, e.g.

[2013-11-06 16:18] Wetmelon commented on #42
Can you take a screenshot (or bundle a .zip of) your current KMPServer root folder that is causing this issue?

[2013-11-06 16:41] reckter commented on #186
That should be easily fixed:
Just compare at the periapsis of the orbit with the surface height (approximated)
and then deny warping :)

[2013-11-06 16:44] TehGimp commented on #204
"Fixed" in https://github.com/TehGimp/KerbalMultiPlayer/commit/40c268aa5c4ad9b1533a37917783f66ca65d4aa5

[2013-11-06 16:44] #204 closed, assigned to TehGimp

[2013-11-06 16:48] Wetmelon commented on #178
"you said to open kmp server through command promt, no? when i do that it says 3 missing dll."

What was the exact error you were getting?

[2013-11-06 16:57] TehGimp commented on #186
@reckter in some cases KMP wouldn't actually simulate the full orbit (which is why this bug appears in the first place and KSP doesn't just kill the vessel as it normally would), but this is effectively what we'll be doing

[2013-11-06 17:00] reckter commented on #186
Glad I could kinda help^^ :) I would try to implement it though I'm not familiar with moding KSP nor with the language^^ (Ok BTT now)

[2013-11-06 17:09] ghost commented on #178
may be .NET 4.0 need be installed?

[2013-11-06 17:51] Night007 commented on #42
Its just the default server. Unzipped and started.
![screen](https://f.cloud.github.com/assets/5817510/1484812/ee5cb64e-470b-11e3-9943-3c4b9b4ea0e3.png)

[2013-11-06 17:58] DanishPirate opened #207 "Connecting to a server and then get a succesfull handshake but nothing happens"
I use the lastest KSP version 2.2 and version 1.2 of KMP i find a server try connect to it says connecting and then i get the handshake but nothing happens i would be really glad for help and sorry for the grammar

[2013-11-06 18:14] Pin-Lui opened #208 "IP Ban"
hi guys,

im the owner of kerbalspaceprogram.ch MP server.
first thank you for this awesome 1.2 release. universes going up to 500-700mb and server still running good.

i just need one feature, i must be able to ban Ips.

it were perfect if i can ban tiping his name and server ban his ip too.

mfg whaaw

[2013-11-06 18:20] Pin-Lui opened #209 "IP Ban"
hi guys,

im the owner of kerbalspaceprogram.ch MP server.
first thank you for this awesome 1.2 release. universes going up to 500-700mb and server still running good.

i just need one feature, i must be able to ban Ips.

it were perfect if i can ban tiping his name and server ban his ip to.

mfg whaaw

[2013-11-06 18:21] #209 closed, assigned to nobody

[2013-11-06 18:21] TehGimp commented on #209
Dupe of #208

[2013-11-06 18:28] TehGimp opened #210 "Servers need a /dekessler command"
Per http://i.imgur.com/6zmkHSY.jpg

[2013-11-06 18:30] ghost commented on #207
screenshots?

[2013-11-06 18:32] ghost commented on #210
it already was suggested automatically  to destroy debris after 30 minutes from creation time

[2013-11-06 18:34] DanishPirate commented on #207
I don't get why you would need one i explained it in thread

[2013-11-06 18:36] TehGimp commented on #210
I think I want to combine the requests by offering a /dekessler command in v0.1.3.0, then implementing an optional auto-dekessler that clear the old debris as suggested for a later version. I think the manual command should also only clear stuff that's 30mins old as well though, eh?

[2013-11-06 18:44] TehGimp commented on #207
@DanishPirate it helps to quickly eliminate obvious problems like not having added a server correctly, etc. Regardless, can you confirm if you also copied the "saves" folder that comes with KMP into your KSP folder?

[2013-11-06 18:49] DanishPirate commented on #207
I am really sure i added the server correctly and about the saves does that include the Vanilla save files?
![2013-11-06_00002](https://f.cloud.github.com/assets/5872430/1485388/205e7814-4714-11e3-8c35-97fdf6370817.jpg)

[2013-11-06 18:52] ghost commented on #207
click connect and wait... then screenshot again in 10 minutes of waiting and copy ksp.log to pastebin.com and give link here to it

[2013-11-06 18:54] DanishPirate commented on #207
Alright i'll try that give me 10 minutes

[2013-11-06 18:55] TehGimp commented on #207
@DanishPirate You do need to have the saves folder that came with KMP copied over. Just for good measure, please re-copy it into your KSP folder before your next test. Thanks!

[2013-11-06 18:56] DanishPirate commented on #207
okey just to be sure i copy the files into the gamedata?

[2013-11-06 19:00] TehGimp commented on #207
Copy everything directly into your KSP folder. That way the KMP files in GameData will be merged with your GameData, and the KMP saves will be merged with your existing KSP saves.

[2013-11-06 19:02] TehGimp commented on #144
Please re-open if these issues persist.

[2013-11-06 19:02] #144 closed, assigned to nobody

[2013-11-06 19:05] TehGimp commented on #176
Time should be reliably corrected by the time you're on the pad--can you confirm?

[2013-11-06 19:06] TehGimp commented on #141
NRE flood protection is loosened in 0.1.2.0, which leads to more cases where the "Return to Space Center" button doesn't work incidentally, but has anyone seen a major recurrence of this bug in 0.1.2.0?

[2013-11-06 19:08] DanishPirate commented on #207
I have done what you said still not working

[2013-11-06 19:10] DanishPirate commented on #207
Just to describe what i done i take the files from the website unzip 'em take the gamedata inside the file copy it and then go into steam and into the ksp folder and the put it inside the gamedata in there

[2013-11-06 19:11] TehGimp commented on #207
Just to confirm you should be copying the unzip'd download to the KSP folder directly. If you copy it into GameData, the saves won't be in the right place, which can cause the problem you're seeing.

[2013-11-06 19:13] DanishPirate commented on #207
okey but where is the direct ksp folder? i can only find the inside of it by using steam

[2013-11-06 19:13] TehGimp commented on #1
Can anyone confirm @velusip's suggestion (permissions issue)?

[2013-11-06 19:14] TehGimp commented on #207
It's the folder that has GameData (and Internals, and KSP_Data, etc etc) in it; the main KSP folder that steam opens up for you.

[2013-11-06 19:15] ghost commented on #141
me, issue #184
windows non steam v0.1.2

[2013-11-06 19:15] DanishPirate commented on #207
and the file from unziping the file i got from the website is named KMP_Client3?

[2013-11-06 19:16] TehGimp commented on #207
the unzip'd contents are two folders and some information files. Copy the downloaded folders "GameData" and "saves" directly to the KSP folder, _not_ the GameData folder in your KSP folder.

[2013-11-06 19:18] DanishPirate commented on #207
but the Vanilla files are named the same should i just still copy it over?

[2013-11-06 19:18] TehGimp commented on #207
Yes, they will be merged, not replaced.

[2013-11-06 19:19] TehGimp commented on #141
@AIMaster but you don't get an "Unknown error - re-syncing" in 0.1.2.0 though, correct?

[2013-11-06 19:19] DanishPirate commented on #207
i cannot copy them over without deleting the Vanilla files named as them

[2013-11-06 19:21] DanishPirate commented on #207
it also gives me an option to skip is that the same to merge them?

[2013-11-06 19:22] TehGimp commented on #207
KMP does not include any duplicates of KSP files and will not replace any KSP files. Skipping is just not-copying them at all, which will not help.

[2013-11-06 19:24] #207 closed, assigned to nobody

[2013-11-06 19:24] DanishPirate commented on #207
the ksp folder has the gamedata folder and the saves folder in them right and the kmp folder did have the files named gamedata and saves so they are named the same

[2013-11-06 19:25] ghost commented on #207
danishpirate do directly that what described in readme when you unzipped, or when download then there exists "install" section in info about kmp.

close. not an issue.

[2013-11-06 19:25] TehGimp commented on #207
It will merge with KSPs files, none of them will be replaced.

[2013-11-06 19:28] ghost commented on #141
correct. no unknown error. just booooooom leaving 40km zone.

[2013-11-06 19:28] TehGimp commented on #141
kk, we'll track the remaining problems in #184

[2013-11-06 19:28] #141 closed, assigned to TehGimp

[2013-11-06 19:36] RebelFreedom commented on #178
net framework 4.0 or higher is on my computer, and i drag n drop the server into command promt so i aint gotta type it all, and it gives missing dll error. i know there in the right spot, and i click on them ignorantly to show the computer they are indeed, there. Assembly-CSharp and the other two dll. missing. but they are there. i get into my own multiplayer, but no one can join. i tell em to joi

[2013-11-06 19:41] RasmusBeck commented on #178
Try typing to run it. I suspect just drag-n-drop temporarily moves it to the directory you are at in command prompt.

 Also, for the connection; Did you port forward?

[2013-11-06 19:44] emmaconnor commented on #1
@TehGimp I tried running the server as root but the same error occurred, so I don't think it's a permissions issue as @velusip  suggested.

[2013-11-06 19:44] DanishPirate commented on #207
It worked even though my computer said it would the delete the other files with that name it didn't thanks for the help and sorry for using so much of your time

[2013-11-06 19:55] Nemecle commented on #172
I don't think so for #177
I switched to a space station around the Mün, there was a reaaaaaaally long loading, but then, when the 'space center' button didn't work anymore, and when a tried to switch to an other vessel, it indicate 'Cannot switch to an other vessel in this scenario: looks like the game switched to a 'scenario mode' with space center and switching vessel

I know there is booleans i

[2013-11-06 20:02] Dingbat1967 commented on #208
This could be tied into an aberrant connection detector.  Basically, since from time to time some script kiddy or "security analyst" to stay polite will be running port scans on the server, this could create connectionEx type errors.  We could log them and if > number threshold, ban the IP.  Same banlist could be reused to block sepcific IP addresses user-defined.

[2013-11-06 20:06] TehGimp commented on #208
Sounds like a good approach @Dingbat1967--how much of that (if any) are you comfortable implementing?

[2013-11-06 20:11] TehGimp commented on #1
@joseph346 Was a KMP_Universe.db file created in the server directory? Are you comfortable trying inotify tools ("yum install inotify-tools" I believe) to see if we're touching the right library and/or copying the CentOS-supplied /usr/lib64/libsqlite3.so.0 ?

[2013-11-06 20:25] emmaconnor commented on #1
@TehGimp A KMP_universe.db file was not created, and I also tried copying the one created on my Windows machine but that had no effect. I'm not familiar with inotify-tools but if anyone could show me how to use it I'll happily try it.

[2013-11-06 20:27] Dingbat1967 commented on #208
Pretty comfortable, since I know you already try catch the exceptions this generates, just need to add a logging mechanism (IP + count + timestamp), and a new console command /banip x.x.x.x n where x.x.x.x is the IP and n is the number of hours, and maybe a autoban threshold in the kpmserverconfig.txt autobanIP = p where p is the minimum number of abherrant hits.

[2013-11-06 21:04] micle546 commented on #203
Does this happen with builds compiled before #199

[2013-11-06 21:06] TehGimp commented on #203
@micle546 I believe it did, yes.

[2013-11-06 22:38] reximus123 opened #211 "jebadiah jumping glitch"
when I find jebadiah in the observatory and I hit fly I walk toward the nearest building and after a few steps I jump and when he falls over the game blackscreens and and the altitude goes out of control. please fix this.

[2013-11-06 23:38] drewcotten opened #212 "OSX Client Connectivity Issue"
This is all on a fresh install, running the 1.2 client from spaceport. I am running into problems with the client on OSX. I will get a connection to a server (I can see the green text saying "Connected to Server!") but a split second after it displays, it says "Disconnected."

Set up my own server to see if the server reports any info the client cannot. I get this every time I try to connect:

Pla

[2013-11-06 23:42] TehGimp commented on #212
@drewcotten Can you confirm that you've copied over the "saves" folder that comes with KMP?

[2013-11-06 23:47] drewcotten commented on #212
@TehGimp Ah, that's the issue. Sorry to clutter up the bug list. I will close this!

[2013-11-06 23:47] #212 closed, assigned to nobody

[2013-11-06 23:48] TehGimp commented on #212
No worries, it's a common one.

[2013-11-07 00:25] cullyn commented on #203
yes, from 0.1.2.0, i then tried a few other newer builds to make sure it wasn't fixed and repeatable.

[2013-11-07 00:30] sushigramps opened #213 "Server issue."
Unexpected exception encountered! Crash report written to log file
[18:38:05] [Error] : System.Net.Sockets.SocketException (0x80004005): The requested address is not valid in its context
   at KMPServer.Server.hostingLoop()
   at KMPServer.ServerMain.hostServer(ConfigStore settings)
[18:38:05] [Error] : Stacktrace:
[18:38:05] [Error] :    at System.Net.Sockets.Socket.DoBind(EndPoint endPointSnapsh

[2013-11-07 00:32] TehGimp commented on #213
Sounds like you have bound an invalid IP (perhaps an external IP that isn't local to the actual server)--unless you have a specific reason to bind the server to only one IP, please try the default value "0.0.0.0" which will bind to all available local IPs.

[2013-11-07 01:10] RebelFreedom commented on #178
been forwarded 2076 and 8081 T&U. perhaps i derp on this step? i forwarded through my router to my computer.
i didnt use any static ip bullshit, cuz as long as i dont move its connection to the router, it wont change right?

 i entered it manually and it does the same. if i use "start" command in command promt, it opens another empty command promt. so i just hit enter with the directory in quotati

[2013-11-07 02:07] TehGimp commented on #178
@RebelFreedom I think I may know what is going on--you need to be running the application from the server's folder. If you aren't already, try doing this:
- Open a new command-prompt
- Use the "cd" command to change to the KMP server directory
  - e.g. ~>cd "path\to\server"
- Run the server directly, without mentioning the directory
  - e.g. ~>KMPServer.exe

[2013-11-07 03:28] tprussak commented on #211
I believe this is also known as the "Hell Kraken" because your altimeter will stop at 6666666 after some time. Also occurs when Bob headbutts Kerbin at 250 m/s. It might be a vanilla bug though, hell kraken exists in vanilla. KMP might make it more common.

[2013-11-07 05:47] Wetmelon opened #218 "Add MOTD Message Tag for Chat pane"
Next time we have a network protocol update, commit MOTD Message Tag changes.

[2013-11-07 06:26] Wetmelon commented on #210
Just write it so that if no time is passed it defaults to all debris.  /dekessler 30 should be 30 mins, /dekessler 60 for 1 hour, /dekessler for all debris.

EDIT:  The option to do all debris immediately should be available in case someone is trying to trash the server and the admin can just blast it.

[2013-11-07 06:45] ghost commented on #210
agree with @Wetmelon  and @TehGimp.
Not matter when if engine be done for this

[2013-11-07 07:05] ghost commented on #184
i think know why it was happened:
you can repeat the following, dont push anything else! no tracking stations, etc!
1. start ksp + kmp
2. push connect to any server
3. here you should wait for sync (if pressed something, then undefined behavior can occurs, dont do it now)
4. when control scene appears - click - plane launch, choose aerial 3a, launch
5. fly up to 40km from ksc straight near the wat

[2013-11-07 07:07] RasmusBeck opened #219 "A few requests"
A list of requests I am not sure if they are underway/not going to be done
1. Multiple launch pads - alternative to bubble - KerbTown maybe?
2. Whitelisted vessels - Add a whitelist to your vessels, i.e. a list of players that can fly it
3. Lock docking ports - So people can't dock with your station and deorbit it. Maybe using new parts?
4. Replace Jeb with a small metal plate - I feel sorry for h

[2013-11-07 07:13] TehGimp commented on #219
Forgive label as we try to keep it to one issue=one report (easier to track fixed problems that way), but to give you some feedback on these:
1. Something I want to look into in the very long term, but a long way to go before then.
2. Also something that we want to do eventually, though most likely sooner than multiple pads
3. Marking your vessel "Private" will lock all docking ports, but that won

[2013-11-07 07:14] #219 closed, assigned to nobody

[2013-11-07 07:17] ghost commented on #1
it seems that account launched have no permission for file creating \ opening for writing in machine.
check it.

[2013-11-07 07:21] ghost commented on #166
#177 similar to this

[2013-11-07 07:23] TehGimp commented on #166
#177 refers to client disconnect button not working, this one is an issue with displaying disconnection status/reason to user when server initiates disconnection

[2013-11-07 07:24] ghost commented on #19
i got the same without KMP often.
it happens when you played for hours in KSP, so this doesnt belong to KMP.

it seems that this appears when the vessel left Maneuver Node, so it was in the past and you go on to correct old course.

very hard to implement and repeat this issue when want.

[2013-11-07 07:26] ghost commented on #187
#170 and #116 seems belong to this.

[2013-11-07 07:40] MickaelVanSchie commented on #1
I ran it as Root.. And the entire folder had a permission of 777, I know its not safe or whatever.. but for trying purposes it still didn't succeed

[2013-11-07 07:43] TehGimp commented on #1
@sme4gle O.o Such fortitude! Barring exceptionally odd VPS weirdness, that pretty conclusively rules out permissions issues, no?

[2013-11-07 07:44] MickaelVanSchie commented on #1
@TehGimp No idea, but this is atleast what I tried.

[2013-11-07 07:51] ghost commented on #1
can you create virtual machine with the same or launch at home?
then find changes between installations?

[2013-11-07 07:55] MickaelVanSchie commented on #1
Ill try that this afternoon. Im currently not at home.

[2013-11-07 09:24] ghost commented on #213
@TehGimp  as you see people think that this is A BUG,  but it is not.
It needs to intercept such better and explain for admins to configure server for open ports, etc - that this is not an issue.

So i create an issue to do it.

[2013-11-07 09:25] ghost opened #221 "more explanations when port\ip busy and server cannt start"
So i create an issue to do it.

comes from #213 , etc.

it shouldn't be  "Unexpected exception encountered!"

so it need the class of such exceptions and maybe showmessage for admin:
"The requested address is not valid in its context"

and the exception class: "SocketException", not "unexpected"

dont do fatal errors when cant bind to port\ip

so i mean we should "expect" such errors and say
"plea

[2013-11-07 09:26] ghost commented on #213
issue #221  - dont do fatal errors when cant bind to port\ip

[2013-11-07 11:15] schemen opened #222 "gzip Error: Unexpected EOF - Huge ships (Many parts) seem to crash while leaving the bubble, or if that is survived by staging"
All info in title =)

[12:01:54] [Error] : Unexpected exception encountered! Crash report written to log file
[12:01:54] [Error] : ICSharpCode.SharpZipLib.SharpZipBaseException: Unexpected EOF
  at ICSharpCode.SharpZipLib.Zip.Compression.Streams.InflaterInputStream.Fill () [0x00000] in <filename unknown>:0
  at ICSharpCode.SharpZipLib.Zip.Compression.Streams.InflaterInputStream.Read (System.Byte[]

[2013-11-07 11:22] ghost commented on #222
can you add link to your ship ( .craft file ) here ?

[2013-11-07 11:22] godarklight commented on #222
This crash is caused by me, and is reliably reproduced. My speculation is this is caused by limited upload speed causing packets to be dropped. The bigger the ship the more often it crashes, after around 100 parts it always crashes for me.

My client only uses TCP packets aswell.

EDIT (posted at same time): http://chrisand.no-ip.info:82/kmp/debug/GDL%20Test.craft
This is nowhere near my biggest c

[2013-11-07 11:27] ghost commented on #222
So before unzipping, packet needs to be CRC (MD5) checked on integrity.
This Value should be in its header.

4 bytes : length of packet = N
16 bytes: MD5
N bytes: packet (user data, etc)

[2013-11-07 11:37] godarklight commented on #222
Just tested this on yet another server. I see about 20 repeats of this:

[LOG 21:35:25.614] First or forced proto update for active vessel: e5e9bee3-103d-4950-b35f-e8e6000ea94d
[LOG 21:35:25.614] sending primary update
[LOG 21:35:25.631] sending secondary update for: 7846ee55-9065-4143-9b20-fac268d94931
[LOG 21:35:25.637] sending secondary update for: d1fb5c36-6840-4912-8bab-f2d4fe62af1d
[LOG 21:3

[2013-11-07 12:24] godarklight commented on #222
Also crashed the same server as before but updated to git-676a9c72c091c6a07005d2ad8b38e5732aeeb4b1 (the latest HEAD) : http://cl.ly/SL7y

Tested the latest HEAD over lan, It ran fine apart from 100% CPU usage after I went through the bubble (which looks normal?)

Tested the latest HEAD over lan again, but this time using 'tc' to slow my traffic down to 25kb/s upload (similar to my net connection),

[2013-11-07 12:30] micle546 commented on #211
not sure that Jeb is supposed to be moved. AFAIK he is there for the client to be able to sync to the server and is needed

[2013-11-07 14:38] #213 closed, assigned to nobody

[2013-11-07 14:39] TehGimp commented on #221
Yes, evidently the server would benefit from being a little more friendly to novice ops

[2013-11-07 14:44] TehGimp commented on #222
Related to #171
Thanks for the excellent reports!

[2013-11-07 14:46] TehGimp commented on #211
@micle546 In theory you can move Jeb around, but I have heard anecdotal reports of this causing sync issues (never in my own testing, mind). In either case, we'll probably eventually replace him with a metal plate or something since people are so fond of sending Jeb into the great unknown.

[2013-11-07 14:47] cullyn commented on #203
So ive done some more testing on this, with a freshly started server just me here are 3 identical launches. it is no wonder the issue gets worse the longer the server is up.

[code]

first round it sends twice, second round 3 times and 3rd round 4 times.

[2013-11-07 14:52] TehGimp commented on #111
Tentatively closing, please re-open if this issue is seen in 0.1.2.0.

[2013-11-07 14:52] #111 closed, assigned to TehGimp

[2013-11-07 14:53] RebelFreedom commented on #178
i knew i liked that idea ;D i dragged an dropped it in there, then deleted the KMPServer.exe part of the text so it was like "path\to\server\" leaving the last "\" there. and i used the "cd" command at the beginning, and bam! no error! thanks! spread the word cuz im sure im not the only one who will get hung up on it ;) or leave this up er whatevers lol. idk if it will work "for sure", my friend a

[2013-11-07 14:59] TehGimp commented on #178
Thank you!

Port 8081 is used to report server info--when the server is running you can point your web browser at "http://<your hostname/ip>:8081/" and it will show basic stats about the server, like [this link](http://ksp.zone-51.org:88/).

[2013-11-07 14:59] #178 closed, assigned to nobody

[2013-11-07 15:02] TehGimp commented on #19
Bumped to 0.1.4.0 while we investigate whether this is caused by KMP (probably) and available mitigation techniques. We may even need to touch base with Squad on this one to learn more about how to properly init an OrbitDriver.

[2013-11-07 15:09] micle546 commented on #211
Agreed, I do in fact like to send Jeb into the great unknown.

@TehGimp Might want to implement that into a major version change, without some extra code that sounds like a world reset incompatibility.

Back to the issue: Does this same issue occur with other kerbals, Special(Bob and Bill) and/or other kerbals?

[2013-11-07 15:19] micle546 commented on #203
seems like it gives multiple ID's to the same ship, and the server attempts to clean up the duplicates but can't as they don't reference a physical vessel.

IMO sounds like a bug in the ship database serverside, (also possibly in a loop until DB backup breaks the loop)

[2013-11-07 15:24] TehGimp commented on #203
@micle546 That's a negative I'm afraid--the root issue appears to be a problem with the client repeatedly confirming that the secondary vessel (debris) in question is "still" destroyed. The reason you end up seeing multiple IDs is because as the rocket stages (or breaks up), new IDs are assigned to the resulting sub-structures.

[2013-11-07 15:25] cullyn commented on #202
i just did a quick test of 400d and 350d and it made #203 much worse as it then affects more of the craft.

[2013-11-07 15:26] TehGimp commented on #211
@micle546 Thankfully changing over to a metal plate as the universe-sync kick-starter shouldn't actually impact universe integrity at all, but I'll spare you the details of why this is unless you're interested.

I expect this particular issue is Jeb specific (other EVAs have [different problems](http://imgur.com/a/YvNBs#5)), but confirmation would be lovely.

[2013-11-07 15:28] TehGimp commented on #202
@cullyn Thanks!

The current plan is to change the safety-bubble geometry to a cylinder (cap ca. 40km high, say 10km radius maybe?) as soon as issues with in-flight and landed vessels on Kerbin (see also #170) are more reliable.

[2013-11-07 15:30] cullyn commented on #203
the above was 3 flights, only 2 boosters being reported destroyed each time, but they were being reported several times.

[2013-11-07 16:03] micle546 commented on #203
Related #116?

[2013-11-07 16:14] cullyn commented on #203
yes very much so. I guess my having a dedicated server box this wasn't so bad for it. It makes my Home PC scream though!

[2013-11-07 16:15] TehGimp commented on #116
Confirmed in 0.1.2.0

[2013-11-07 16:38] Pin-Lui opened #223 "System.Data.SQLite.SQLiteException"
hi!

After Universe.db goes over 1gb :) (it took about 5 hours for my players to do that^^)

i was no able to save the file:

[13:21:03] [Info] : Optimized in-memory universe database.
[13:21:03] [Info] : Backing up old disk DB...
[13:21:26] [Info] : Universe saved to disk.
[13:25:22] [Info] :
[13:25:38] [Info] : Backing up old disk DB...
[13:25:58] [Info] : Universe saved to disk.
[13:25:58] [Inf

[2013-11-07 16:40] TehGimp commented on #223
If able, please update to a fresh build from latest commit. It has some connectivity bugs that we're working on, but will auto-shrink your universe down to a few dozen MB instead if you start it up and "/save" after you /start. Once it is compacted, you can consider using the release server version to avoid the connectivity troubles in latest commits.

[2013-11-07 16:40] #223 closed, assigned to nobody

[2013-11-07 16:46] Pin-Lui commented on #223
sry i dont kow how to compile this stuff^^ i wait for 1.3 ;-)

[2013-11-07 16:48] TehGimp commented on #223
You can download a debug version [here](http://sesau.ca/ksp/KMP_Server_Debug.zip), but please be advised that at this time it should be used for shrinking an over-sized database only.

[2013-11-07 16:58] Pin-Lui commented on #223
holy... from 950Mb to 14mb is impressive;-) thank you

[2013-11-07 17:16] DanishPirate opened #224 "Server Connecting"
When i join a server i can't see any of the other players and the list who shows what others are doing is gone help is appreciated

[2013-11-07 17:20] TehGimp commented on #224
That sounds like the connection isn't being established properly. Is the server you're trying to connect to public (in which case please share address) or private?

[2013-11-07 17:20] DanishPirate commented on #224
It's public for all i have also tried other servers same result
ksp.zone-51.org

[2013-11-07 17:25] TehGimp commented on #224
That's a known-good server, so that does point to an issue on your end of some sort. Can you drop your KSP debug log ([KSP]/KSP.log or output_log.txt) from a connection attempt on somewhere like [pastebin](http://pastebin.com)?

[2013-11-07 17:26] DanishPirate commented on #224
The hole log?

[2013-11-07 17:29] TehGimp commented on #224
Yep, I'll be able to find the stuff I need in the mess, no worries. If it's too big for pastebin, any other host will also suffice. That all said, it'd be best if it's a "clean" log from starting KSP, getting to the point that universe sync seems like it finished 1x, and exiting KSP via the menus.

[2013-11-07 17:36] TehGimp commented on #177
@krzys-h It's looking like the problem is server-side with your disconnection not being reflected until the server detects that the connection has dropped, resulting in the client being unable to re-establish a connection for a few seconds (unless server is overloaded and suffering from ghosting too). Can you confirm if that sounds consistent with your experience?

[2013-11-07 17:38] DanishPirate commented on #224
If i am going to copy the log where it's loading parts it going to take forever the debug log ingame is made so i can only copy text from each section but i could also just screenshot the text i'll do that

[2013-11-07 18:03] krzys-h commented on #177
Yes

[2013-11-07 18:08] ghost commented on #224
needs more explain to be added to client why aborted chat thread etc

[2013-11-07 18:09] TehGimp commented on #224
@DanishPirate it doesn't look like you've clicked connect yet in those logs. Also, please consider grabbing the log file rather than a bunch of screenshots--you can find the log at [KSP folder]/KSP.log or output_log.txt

[2013-11-07 18:12] Dingbat1967 commented on #224
Danish >> if you got KSP out of steam, you can find the file under c:\program files\steam\steamapps\common\kerbal space program\ksp.log

Also, you got that problem on ksp.zone-51.org.   Have you tried ksp2.zone-51.org?

[2013-11-07 18:18] DanishPirate commented on #224
@Dingbat1967 yes i have also tried other servers

[2013-11-07 18:21] DanishPirate commented on #224
[LOG 19:13:51.835] AssemblyLoader: Loading assembly 'KSP'
[LOG 19:13:52.969] Load(Assembly): KMP/Plugins/ICSharpCode.SharpZipLib
[LOG 19:13:52.971] AssemblyLoader: Loading assembly at C:\Program Files (x86)\Steam\steamapps\common\Kerbal Space Program\GameData\KMP\Plugins\ICSharpCode.SharpZipLib.dll
[LOG 19:13:53.019] AssemblyLoader: Loading assembly 'C:\Program Files (x86)\Steam\steamapps\common\K

[2013-11-07 18:22] DanishPirate commented on #224
[LOG 19:14:58.846] Load(Model): Squad/Props/standingSwitch/model
[LOG 19:14:58.859] Load(Model): Squad/Props/switch/model
[LOG 19:14:58.870] Load(Model): Squad/Props/switchGuard/model
[LOG 19:14:58.882] Load(Model): Squad/Props/switchWithGuards/model
[LOG 19:14:58.902] Load(Model): Squad/Props/throttle/model
[LOG 19:14:58.916] Load(Model): Squad/Props/VSI/model
[LOG 19:14:58.931] Load(Model): Squa

[2013-11-07 19:06] DanishPirate commented on #224
Any solutions?

[2013-11-07 19:07] TehGimp commented on #224
Haven't been able to successfully duplicate the issue as yet...

[2013-11-07 19:10] DanishPirate commented on #224
@TehGimp  Take your time no rush i can wait

[2013-11-07 19:57] TehGimp commented on #171
Still not re-requesting back messages, but fixed borked message might be processed by receiver and confirmed that basic compression is working reliably by testing with the compression threshold set to 1 byte

[2013-11-07 19:57] #171 closed, assigned to TehGimp

[2013-11-07 20:06] TehGimp commented on #222
Having a lot of trouble duplicating this even when I turn on compression for all packets (not throttling myself though), but error handling for compression has been greatly improved in the latest build. Can you retest with HEAD again? If you still have problems, I might have you try a build with more aggressive (and expensive) compression enabled. The available bandwidth is a little low for KMPs o

[2013-11-07 20:10] TehGimp commented on #224
@DanishPirate Still having trouble duplicating the problem. Was this working previously? Can you confirm that you're running the SpacePort version of 0.1.2.0?

[2013-11-07 20:38] DanishPirate commented on #224
I can confirm i am using 0.1.2.0 and yes it was working previously

[2013-11-07 20:39] TehGimp commented on #224
Can you quickly try copying a fresh install of KMP on top of the current one if you haven't already? Thanks!

[2013-11-07 20:46] DanishPirate commented on #224
Sure

[2013-11-07 20:57] DanishPirate commented on #224
I have now tried it i am afraid that it's the same result

[2013-11-07 21:02] DanishPirate commented on #224
@TehGimp  I could try reinstalling ksp should i do it?

[2013-11-07 21:02] TehGimp commented on #224
@DanishPirate Couldn't hurt since I'm still not making much progress

[2013-11-07 21:03] keamos commented on #80
Had the same problem --
![220200_screenshots_2013-11-07_00013](https://f.cloud.github.com/assets/5503804/1495755/f6e2d44e-47ef-11e3-96b9-8d4313a337eb.jpg) -- with 0.1.2.0. There was some old files from Kerbal LiveFeed kicking around in the KSP/plugins folder, once they were removed everything works perfectly.

[2013-11-07 21:13] TehGimp commented on #203
I have confirmed that the source of these extra messages is a purposeful optimization in KMP:
As the debris fall back to Kerbin and re-enter the atmosphere, if they are within 2.5km (or so) of your vessel they will continue to be simulated until they exit that range and are placed on-rails--at that point they are marked as "destroyed" by the KSP engine. However, for other players the debris appear

[2013-11-07 21:13] #203 closed, assigned to nobody

[2013-11-07 21:26] DanishPirate commented on #224
@TehGimp  I am really sorry but still not working i tried fresh kmp and ksp nothing working

[2013-11-07 21:34] DanishPirate commented on #224
This sure seems like a tricky one

[2013-11-07 23:35] TehGimp commented on #210
Implemented in latest commit

[2013-11-07 23:35] #210 closed, assigned to TehGimp

[2013-11-08 02:26] cullyn opened #228 "Server should disconnect outdated clients"
loading up a test server to test recent changes.

using server from https://github.com/TehGimp/KerbalMultiPlayer/commit/a3febc9f69643ecd18822eb686e10471f7c290b3

 and and older client. this crashes the server.

maybe a version check could stop this. I know its a dev build but when clients/server need a bump there needs to be a flag to say when a client is out of date.

Using current plugin with cu

[2013-11-08 02:32] Wetmelon commented on #228
There is versioning in place, but evidently we've done something that broke compatibility (possibly without realizing it) and without updating the version code.

Just to confirm, this is the dev server build with the .1.2 client build throwing this error, but the dev server & dev client work fine together?

[2013-11-08 02:38] cullyn commented on #228
yeah.. ill retest 1.2 i just used a client from one of my older builds

I will let you know how it goes.

dev and dev work fine

yes 0.1.2 crashes server.

[2013-11-08 02:41] #228 closed, assigned to nobody

[2013-11-08 03:06] cullyn commented on #228
Forget what i said about dev client working with dev server.

I just compiled a new copy of both from https://github.com/TehGimp/KerbalMultiPlayer/commit/22a1af9db15fc5661da1dbd15582d650af56d230

and it gives the above message.

I must have made a mistake when testing and opened an older server.

[2013-11-08 03:25] TehGimp commented on #116
This appears to be fixed provided there's no issue with the sqlite library used. Please re-open if there's any sign of similar issues recurring.

[2013-11-08 03:25] #116 closed, assigned to nobody

[2013-11-08 03:27] TehGimp opened #230 "Privacy lock does not appear correctly for all players"
Visible in various screenshots posted online, but not sure of the cause yet. May be as simple as poorly-sized UI elements.

[2013-11-08 03:31] cullyn opened #231 "please check #228"
#228. I may have made a mistake saying that dev on dev was working. can you check on your end.

[2013-11-08 03:35] Wetmelon commented on #231
Thanks for the update, we're looking into it.  So far it looks like it might be on your end.  Please do a clean slate KSP and KMP install for server and client.  Don't forget to clean/rebuild like I did ;)

Alternatively, look around for older KerbalMultiPlayer.dll 's in your KSP root

[2013-11-08 03:47] Wetmelon commented on #231
Yeah, looks like the most recent dev builds are working together.

[2013-11-08 03:54] cullyn commented on #231
Okay, i found the issue. there was an old KerbalMultiPlayer.dll in my server root. updated and all good to go

[2013-11-08 03:54] #231 closed, assigned to nobody

[2013-11-08 03:57] TehGimp commented on #176
Tentatively closing--unable to reproduce and time-sync should always be correctly established by flight time. Please re-open if you see a time-sync issue once in flight in v0.1.2.0 or later.

[2013-11-08 03:57] #176 closed, assigned to TehGimp

[2013-11-08 03:58] TehGimp commented on #42
How do you start KMPServer.exe @Night007? From the command line?

[2013-11-08 04:45] Wetmelon commented on #1
Take a look at this:  http://system.data.sqlite.org/index.html/doc/trunk/www/build.wiki

Perhaps you can build your own SQLite.dll's?  There's Mono instructions at the bottom, though I don't know anything about *nix based systems.

Source code on this page: http://system.data.sqlite.org/index.html/doc/trunk/www/downloads.wiki

[2013-11-08 04:51] Wetmelon commented on #42
Your .dll sizes don't match mine even anywhere near closely.

I have
Assembly-CSharp.dll - 3,030kb
Assembly-CSharp-firstpass.dll - 444kb
UnityEngine.dll - 486kb

Where did you get your .dll's from? O.o

Try my installer, see if it works any better: https://www.dropbox.com/s/10j7abmf5jf4hxr/KMP_Extractor.jar

[2013-11-08 04:54] RebelFreedom commented on #178
my buddy cant connect. i can connect using my ip as my address.. but he cant using the same, it doesnt even show he was in, when he's disconnected. he can get on other servers. i tried it with and without auto host.. idk what thats for exactly :P and also, how do i change the server adress to like a name, like "honeybobo server" or whatever i wanna make? any clue as to how i derped here?

[2013-11-08 04:57] Wetmelon commented on #178
Go to http://www.ipchicken.com and have your friend connect to the displayed IP address.  You will need to forward ports 2076 (unless otherwise specified in your server.exe) and 8081 (for HTTP information).

[2013-11-08 05:00] ruarai opened #233 "Better way to access server information"
Currently the HTTP form is rather inadequate as it's success varies thanks to the fact that it uses an entirely different port (that can be changed!)

Another method for getting info such as players, version etc would be great.

[2013-11-08 05:02] TehGimp commented on #233
@ruarai What do you have in mind? Do recall that we can't forcefully occupy any specific port--they always need to be left configurable to the server op.

[2013-11-08 05:13] RebelFreedom commented on #178
i went to that website, told him the address that popped up and nothing.

[2013-11-08 05:31] Wetmelon commented on #178
Are you getting any information showing up in your server log?  How about in his client log?

[2013-11-08 05:34] Arrowstar opened #235 "Undocking from a station causes the station to disappear from tracking station/map view"
This evening I created a space station in Kerbin orbit.  Another player approached the space station and docked with it.  In the tracking station, the station became unselectable (was still there, but looked "depressed" and was not clickable), which makes sense as my station and the other vessel had merged.

After the player undocked, the station did not revert to a "clickable" state in the tracki

[2013-11-08 05:40] Arrowstar commented on #235
By the way, this may be a duplicate of #198 but I'll leave it to you fine folks to make that call.

[2013-11-08 05:40] RebelFreedom commented on #178
nothing in my server about anyone but me. and were might his client log be?

[2013-11-08 05:41] Wetmelon commented on #178
His client log is called "KSP.log" in the standard KSP folder.  It can also be accessed by pressing ALT+F12 in game and hitting "DEBUG"

[2013-11-08 06:06] cullyn commented on #233
Maybe like open ttd you could have a setting that enables the server to send a message to a master server when a server starts.

This would require a server to be setup to receive these broadcasts. That is about the only way that this could work.

EDIT: if implemented this setting should default to not broadcasting. I know you want to have all the server details on one page, but it really needs to

[2013-11-08 06:15] Night007 commented on #42
Wow! Thanks @Wetmelon !
Its working with your installer. I don't have any clue, why its working now... I got the dlls out of the KSP_Data\Managed...

But well, problem solved by using the installer.
Thanks guys. Now I can host a server by myself!

[2013-11-08 06:15] #42 closed, assigned to nobody

[2013-11-08 06:16] RebelFreedom commented on #178
he's a derpasaurus. that plan isnt gonna work unless you know exactly what to look for. he needs nice, easy, goals. when he connected to the good server, he got a bunch of red and yellow warnings, and exception errors or somthing..  but he still gets through and stuff. useless info i suppose. he wouldnt connect to mine, he gave up before that.

how do i change my server address to a name like othe

[2013-11-08 06:27] RebelFreedom commented on #178
but youd think id see him connect and then get booted. im gonna see if i cant port norton anyways now..

[2013-11-08 06:52] RebelFreedom commented on #178
ill try to figure out how to port norton tomorrow. if you dont know how.. i checked online, but its for different norton everytime. no one in the universe can port norton O_o at east not the one i have i guess. just, idk how important it is anyways to do this. so if anyone knows for sure if i need to, tell me. and that could even be the problem right there. but i still think he shoulda entered my

[2013-11-08 07:05] DanishPirate commented on #224
@TehGimp Any update reports on how far you've come?

[2013-11-08 07:27] godarklight commented on #222
Now everyone with fast internet can join in on the fun of crashing servers. These commands (run on the client running KSP) only shape the uploads to a KMP server. Change eth0 to your internet interface, and '20kbps' to your desired internet speed - although 20kbps should be slow enough to cause this error.

sudo tc qdisc add dev eth0 root handle 1 htb default 255
sudo tc class add dev eth0 parent

[2013-11-08 08:00] godarklight commented on #222
Might be jumping the gun, but I believe this bug is fixed. Tested with fe114ac208436c9692a1dad3a1f940463f8c850c and instead of the server crashing due to GZIP errors, the client gets kicked out:

Relevant KSP.log part:
[WRN 17:47:15.133] Can not play a disabled audio source
[LOG 17:47:15.173] First or forced proto update for active vessel: 4d46bbf4-ec12-4a8b-abdc-3dec6a88fbfd
[LOG 17:47:15.173] se

[2013-11-08 08:57] ruarai commented on #233
@cullyn You've misunderstood. I don't want a master server (although that could be nice)

There's a reddit thread here on this: http://www.reddit.com/r/KMP/comments/1q5qrr/server_admins_opinion_needed_on_possible/

It seems that the http port offset idea could work.

[2013-11-08 09:38] Wetmelon commented on #124
- [x] #210 Easy cleanup of orbital debris. /debrisflush command on server side - /dekessle
- [x] #210 ex: /ship flush -age 10 days - /dekessle <age in minutes>
- [x] #234 /listships and /countships implementation.  Changes /list and /count to /listclients and /countclients

[2013-11-08 09:58] ghost commented on #117
now it can be don with automatically /dekessler command when no players are in the game
and server comes to the oldest subspace when player enters the game.

[2013-11-08 10:22] ghost commented on #1
the issue #1 ... when you solve it, you won the KMP game... )

[2013-11-08 10:35] MickaelVanSchie commented on #1
Didn't have time to setup a VM yet :/ hopefully i got the time this afternoon.

[2013-11-08 11:51] DanishPirate commented on #224
@TehGimp that's interesting i crashed and got another log says my username in the server was already i'll send the log                                                                                                                                         [HighLogic]: =========================== Scene Change : From MAINMENU to FLIGHT =====================

(Filename: C:/BuildAgent/work/7535de4ca26c

[2013-11-08 13:36] ghost commented on #187
Got it. Player B was in throttle mode. If the game detects your ship is throttled up, it will give you a dialogue warning you that you're throttled up and the game won't save. When switching to Player A's ship, Player B was throttled up and thus he was just booted back to the Tracking Station, not given the option to save his ship.

[2013-11-08 14:57] DanishPirate commented on #224
@TehGimp  It Works now changing my username worked you can look at the log if you want to find out what the issue was

[2013-11-08 15:01] TehGimp commented on #222
@godarklight I think that's where we're at--crash bug is fixed (so will close this), but please create a new issue requesting enhancements to lower bandwidth requirements so we can start brainstorming on the best methods to try (prob best to just reference this bug so we have easy access to the traffic-shaping commands--as it happens I had been used tc to test latency issues, but not bandwidth). T

[2013-11-08 15:01] #222 closed, assigned to TehGimp

[2013-11-08 15:02] TehGimp commented on #42
Glad to hear this was resolved!!

[2013-11-08 16:19] TehGimp commented on #124
#117 tracks the related auto-dekessler request

[2013-11-08 16:21] TehGimp commented on #224
@DanishPirate it looks like you lost your old KMP player token, which is used to ensure that no one else can steal your ships. If you want to regain access to anything, you'll need the server operator to run the command "/update <your old name> <new token>". You can find the token in the file [KSP folder]/GameData/KMP/Plugins/PluginData/KerbalMultiPlayer/KMPPlayerToken.txt

[2013-11-08 16:21] #224 closed, assigned to nobody

[2013-11-08 16:53] ghost opened #237 "protect players from stealing tokens: add login\pass form to client"
it comes from #224 .

how i can play from 2 computers by myself?
where i need to put my secret token and where i get got it?

just here:

[KSP folder]/GameData/KMP/Plugins/PluginData/KerbalMultiPlayer/KMPPlayerToken.txt

and it solves the problem?
or we should use login\password for the separate server?

so the token would be md5(salt : login : pass) ?
how to protect my account from stealing?

so

[2013-11-08 17:03] TehGimp commented on #237
Copy the token from one computer to the other computer and both will have access to the same usernames on a server

A new token is automatically generated whenever the file is missing. The token is always available at [KSP folder]/GameData/KMP/Plugins/PluginData/KerbalMultiPlayer/KMPPlayerToken.txt and should not be modified except to replace it with another known-good token file.

Jumba is workin

[2013-11-08 17:39] Night007 opened #238 "Mouse 0 - Binding / Cant get into Space Center after doing EVA / Random explosions"
1. Bug:
   If you set Mouse 0 for opening the menu or share screen shot (Was a mistake...), then you cant change it back. Also you are spaming screenshots (as in my case).

Please give a warning if someone wanne change a shortkey to the mouse...
1. Bug:
   After me and my friend went on EVA, we couldnt get back to the space center. In the end we had to disconnect first. (Reentering the shuttle did

[2013-11-08 17:42] TehGimp commented on #238
1. Fixed by https://github.com/TehGimp/KerbalMultiPlayer/commit/8666171fac8011062359cac128f2d6144ca172b1
2. If it's the issue we know of, you should have seen a flood of NullReferenceExceptions if you got a chance to look at client-side debug log.
3. These may be fixed by very recent commits targeting EVA-specific issues such as ["gumby kerbals"](http://imgur.com/a/YvNBs#5)

Closing this one as du

[2013-11-08 17:42] #238 closed, assigned to nobody

[2013-11-08 18:11] TehGimp commented on #184
Should be fixed by https://github.com/TehGimp/KerbalMultiPlayer/commit/0fadf724af55545d3daf264e17cf34088ba084dd

[2013-11-08 18:31] Night007 commented on #238
Yes, you are true. I have a NullReferenceExceptions Spam...

[2013-11-08 18:34] Night007 opened #239 "Cant get to space center"
After me and my friend went on EVA, we couldnt get back to the space center. In the end we had to disconnect first. We tested it while being inside and outside the shuttle.

Also, there is a "NullReferenceException" Error.

[This errors are repeating]
[LOG 19:28:49.420] Ravenspear Mk4 Debris Unloaded
[EXC 19:28:49.421] NullReferenceException: Object reference not set to an instance of an object
[E

[2013-11-08 18:37] ghost opened #240 "scan the plugins, not allowing used not-allowed on server"
if server not allowed to use this mod, then client should do scan list of installed plugins (maybe by the dll names in plugins directory) and tell this to server,
so server should reject such clients.

[2013-11-08 18:39] TehGimp commented on #239
So far, commonly reported during orbital rendezvous or during EVA activity

[2013-11-08 19:14] DanishPirate commented on #224
@Tehgimp No need i got a better ships now

[2013-11-08 19:30] TehGimp commented on #184
Need to look into whether the Planetarium time shift can cause problems for local instances of other vessels, might need to handle in-atmo time-shifts differently (e.g. allow bigger desync in-atmo, see if we can Krakensbane shift with fewer side effects, etc)

[2013-11-08 19:47] ghost commented on #184
may be before it can be prepared for syncing?
when near KSC then all can be done to the sync before plane lift offs.
why doesnt do it before? ot load presynced triangles - which be vessels after sync?

[2013-11-08 20:15] Night007 commented on #239
It seems only to happen, when you have a crashed shuttle on the map (or planted a flag).

[2013-11-08 20:18] TehGimp commented on #184
@AIMaster main reason it's not sent before the edge of bubble currently before is to reduce overall bandwidth, esp for vessels that are much smaller due to staging by edge of the bubble--sync is applied in the bubble too, only isn't a problem because the network traffic is very light

[2013-11-08 20:51] TehGimp opened #242 "Profanity filter should be more configurable"
Per https://github.com/TehGimp/KerbalMultiPlayer/commit/2ce56984132e89fc2b2b5a67470cbd803a141eb6#commitcomment-4552638

[2013-11-08 21:11] ghost opened #245 "move theese ones to config (server.cs)"
public const long CLIENT_TIMEOUT_DELAY = 16000;
        public const long CLIENT_HANDSHAKE_TIMEOUT_DELAY = 18000;
        public const int GHOST_CHECK_DELAY = 30000;
        public const int SLEEP_TIME = 10;
        public const int MAX_SCREENSHOT_COUNT = 10000;
        public const int UDP_ACK_THROTTLE = 1000;
        public const int DATABASE_BACKUP_INTERVAL = 300000;

[code]

[2013-11-08 21:13] TehGimp commented on #245
These settings are purposely not available to users, and should not ever be changed by server operators.

[2013-11-08 21:13] #245 closed, assigned to nobody

[2013-11-08 21:13] ghost opened #246 "remove sql injections in server code"
[00:56] Dimmy: server.cs 1659
[00:56] Dimmy: sql = "UPDATE kmpSubspace SET LastTick = " + incomingTick.ToString("0.0").Replace(",",".") + " WHERE ID = " + cl.currentSubspaceID.ToString("D") + " AND LastTick < " + incomingTick.ToString("0.0").Replace(",",".");
[00:57] Dimmy: also server.cs 1816 if (excludeOwnActive) sql += " AND NOT v.Guid = '" + cl.currentVessel + "'";
[00:57] Dimmy: server.cs 184

[2013-11-08 21:19] ghost opened #247 "if the server and client protocol versions don't match - LOG IT! Log"
kmpclientmain.cs
line 473

//End the session if the protocol versions don't match
if (protocol_version != KMPCommon.NET_PROTOCOL_VERSION)
{
    endSession = true;
    intentionalConnectionEnd = true;
}

needs to be logged and sayd to player:
your net protocol mismatch with servers and log this to file!

and say it to client how where

[2013-11-08 21:43] Dingbat1967 commented on #246
Doesn't SQL injection imply this being done externally via web interface?   I would be more worried someone using the client code to push an SQL Injection attack to a server.

[2013-11-08 21:44] TehGimp commented on #246
@Dingbat1967 we just need to finish parameterizing the remaining SQL commands that have any string concatenation going on

[2013-11-08 21:45] Dingbat1967 commented on #237
This may require eventually a central server for arbitrage and storage of keysets ... something to think about.

[2013-11-08 21:46] TehGimp commented on #237
We'll be keeping vessel authentication, at least, decentralized to individual servers for the foreseeable future

[2013-11-08 22:25] #205 closed, assigned to nobody

[2013-11-08 23:36] #158 closed, assigned to nobody

[2013-11-08 23:46] #208 closed, assigned to PhonicUK

[2013-11-08 23:48] PhonicUK commented on #221
I'll take this one.

[2013-11-08 23:59] TehGimp commented on #92
Fixed in commit https://github.com/TehGimp/KerbalMultiPlayer/commit/6617f30182fdc1acb1f6588bf3942e19460c7c9c

[2013-11-08 23:59] #92 closed, assigned to TehGimp

[2013-11-09 00:14] TehGimp commented on #166
Fixed by https://github.com/TehGimp/KerbalMultiPlayer/commit/edd25eee69ae1a6574d4f1fd941333d74d2605f1

[2013-11-09 00:14] #166 closed, assigned to nobody

[2013-11-09 00:19] Wayneoween commented on #246
I try to get rid of those concatenations.

[2013-11-09 00:22] #247 closed, assigned to nobody

[2013-11-09 01:13] cullyn commented on #233
What I would really like to do is not have websites find my server if i don't want them to. If i want to broadcast that's fine but maybe i want a private server.

[2013-11-09 01:32] TehGimp commented on #170
Should be resolved in latest commits, but please confirm with a retest. If it's not working atm, we probably just need to skip the in-flight-in-atmo-out-of-range check during initial universe sync only, and will be good to go.

[2013-11-09 01:32] #170 closed, assigned to nobody

[2013-11-09 03:38] godarklight opened #250 "Make the client/server tolerate connection lag."
On slow connections (I have 30kb/s upload speed), Connecting and chatting on a server is fine, but as soon as you send a ship through the bubble, it gets uploaded to the server in a burst of traffic and the connection will be dropped.

TC Traffic shaping commands can be found in issue #222 to simulate a slow upload speed.

Testing from bug #222 shows the new issue:

Wireshark image: http://oi43.ti

[2013-11-09 04:31] rekcon opened #251 "Server no longer syncs. Suspect 16ce242d006. Commit before it works."
Player list does not update. No vessels sync, but players are seen in chat.

[2013-11-09 04:40] rekcon commented on #251
Correction, commit 6ce242d006 is suspect.

[2013-11-09 04:53] godarklight commented on #251
I just did a regression test. 6ce242d006e81c3fd1e81d8a9a576af4c759e713 is the bad commit.

[2013-11-09 05:02] TheCandianVendingMachine opened #252 "Connect - Connection lost && Can't connect to universe"
Again, as title says. Using Hamachi to connect to server

If space in IP, GUI bugs out
ctrl-v crashed gui for Connecter

[2013-11-09 05:32] TheCandianVendingMachine commented on #252
Problem solved by putting KMP save into saves folder

[2013-11-09 06:31] godarklight commented on #250
This is what the traffic graph from 'speedometer' looks like: http://oi40.tinypic.com/2hwp9uc.jpg

I launched a 12 part ship and it kicked me. My sister is uploading, so that brings be back to 15kb/s during this test.

[2013-11-09 06:43] TehGimp commented on #251
Latest commit fixes some problems, but basic is sync still failing and I'll have to return to this tomorrow morning. @PhonicUK if you manage to spot the problem and have a version that tests OK locally, please by all means commit. Otherwise I should be able to wrap up my review hopefully by noon MST.

[2013-11-09 07:41] ghost opened #253 "maximum servers in list up to 100"
https://github.com/RcColes/KerbalMultiPlayer/commit/cbadad278d957196359d55c7b3bc28e8ec8a4666#commitcomment-4555089

[2013-11-09 07:57] Wetmelon commented on #253
I want to redesign the client-side favourites list anyway (thinking XML) and we need to allow users to scroll in the favourites menu (which is currently disabled).

[2013-11-09 08:01] godarklight commented on #250
TC commands to add _just_ latency (no shaping) to your connection to KMP Servers. (had to use htb for a container sorry). If you can handle 2 seconds lag you should be able to handle anything...

As per usual replace eth0 with your internet interface.

sudo tc qdisc add dev eth0 root handle 1: htb default 255
sudo tc class add dev eth0 parent 1: classid 1:1 htb rate 1gbps
sudo tc class add dev eth

[2013-11-09 08:01] ghost commented on #253
scrolling and maximum servers count issues are not stops each others.

[2013-11-09 08:55] RebelFreedom commented on #178
im posting another thing. it doesnt need to be here

[2013-11-09 09:19] RebelFreedom opened #254 "trouble with my server"
my buddy and me are derpasaurus rex's. ive been trying to get my server up. so i need help.. and have questions.
problem: my buddy can connect to other servers. so the problem is with mine. i open the server location with cd command.. then run it. i can connect with my ip. ive given him it, and it doesnt even show he's been in the server. he gets disconnected without ever getting in to kmp.
1. do

[2013-11-09 09:32] godarklight commented on #250
All testing was done with GDL Test http://chrisand.no-ip.info:82/kmp/debug/GDL%20Test.craft

The required lag to drop out an existing ship in orbit is over 3 seconds. When lag is set to 200 milliseconds the client is in a never ending loop of:
[LOG 19:19:10.721] First or forced proto update for active vessel: 85d1dc5b-98c9-4e1f-a92a-128f97a45092
[LOG 19:19:10.721] sending primary update
[LOG 19:19

[2013-11-09 09:47] godarklight commented on #250
This bug has nothing to do with lag or bandwidth. Upon leaving the bubble, the client constantly uploads the ship. This causes the server CPU usage to go to 100%. If you can maintain the constant uploading speed (150kb/s for GDL Test) and get out of the atmosphere, logout and come back everything is fine and dandy. If you have 2 seconds lag added to the mix you probably can't send enough ACK's to

[2013-11-09 09:51] ghost commented on #254
there wil be manual how to host server and maybe video how to do it.

ask such questions please on forum, it is not a bug or an issue.

[2013-11-09 09:54] ghost commented on #254
192.xxxx.xx.xx
is local ip, not internet.. you need to have hamachi or smth like this to have internet ip.
so your buddy cant connect to your local ip. it need internet address of your server.

go to forum plz with this question.

[2013-11-09 10:08] RebelFreedom commented on #254
we tried my actual internet ip too. but yeah, i didnt know there was a forum. ill find it.

[2013-11-09 10:10] ghost commented on #254
http://forum.kerbalspaceprogram.com/threads/55835-Kmp-0-22-wip-alpha/page80

[2013-11-09 10:16] RebelFreedom commented on #254
i told you id find it :P thanks though, but i already found it:3 hopefully someone is derpy as me and already resolved it. ima read all the posts and hopefully i wont even have to ask.

[2013-11-09 10:19] ghost commented on #254
now push the button "close issue" below )

[2013-11-09 10:29] RebelFreedom commented on #254
im far too derpy to find that. i look for liek evars.
![derp-14](https://f.cloud.github.com/assets/5858760/1506434/cc784686-4929-11e3-9f39-4c20f1af9a6e.jpg)

[2013-11-09 10:39] RebelFreedom commented on #254
i really dont think i have that power. i looked for like ever.

[2013-11-09 10:50] ghost commented on #184
also:

maybe another issue, but still 40km zone is fatal.

[2013-11-09 12:16] godarklight commented on #250
Disclaimer: Not a programmer so this is a bit of a stab in the dark.

KMPManager.cs Line 825, KMPVesselUpdate() calls KMPVesselUpdate() without setting anything to satisfy the !newFlags.ContainsKey(vessel.id) test

OR

KMPManager.cs Line 846, maybe update = new KMPVesselUpdate(vessel); belongs in the if block just below it?

[2013-11-09 12:45] ghost opened #256 "Vessels are destroyed if they touch the atmoshpere"
dump it here, if we forget

[16:20] <darklight> KMPManager.cs Line 733 would destroy vessels in atmo unless I'm misunderstanding enumerator.Current.Value.mainBody.maxAtmosphereAltitude
[16:20] <darklight> Bug 250 is an infinite loop of ship uploading goodness.

[2013-11-09 14:00] ghost opened #257 "Friends can't connect to server"
i launched a server and i can join fine with localhost. bu when my friends try to join my server it says: Client failed to handshake successfully: IOException
in the server log. on their screen it just dosn't connect

[2013-11-09 14:16] hashashin commented on #257
Can you please provide more info? Server OS, KMP version, some logs (client and server). your friends copied all the KMP files in the KSP folder? included the saves folder?

[2013-11-09 15:18] ghost commented on #257
the version is 0.1.1.3 i got it from spaceport. and where does i find the logs?

[2013-11-09 15:33] TacticalPenGuinn opened #258 "System.Data.SQLite.SQLiteException: database or disk is full database or disk is full"
Looks like something happened to the server' db overnight. I know my disk isn't full so may be the file became corrupt. I think the final db size was between 400MB and 350 MB. I haven't heard of the db file getting this large from any of the other server admins so I'm not sure if this was normal.

08:22:04] [Error] : Unexpected exception encountered! Crash report written to log file
[08:22:04] [Er

[2013-11-09 15:40] cullyn commented on #257
make sure you are all using the same version. the latest version on spaceport is 0.1.2.0 and they are not backwards compatible with 0.1.1.3

[2013-11-09 15:45] cullyn commented on #258
i have heard of the file getting to 900mb, some of the recent commits have made significant improvements in the sql storage.

check #174

It is not going to fix the above but it will improve things once it is fully released

[2013-11-09 15:55] ghost commented on #258
so, when database is near to full server should refuse create new ship and tell user why:
"cant create vessel: no more space on server available". - NOW NEED ALERT TO PREVENT THIS

so it should be user quotas on server's space for holding vessels!

[2013-11-09 15:55] ghost opened #259 "user quotas on server's space for holding vessels"
comes from #258

so, when database is near to full server should refuse create new ship and tell user why:
"cant create vessel: no more space on server available".

so it should be user quotas on server's space for holding vessels!

[2013-11-09 15:57] ghost commented on #257
last info here http://forum.kerbalspaceprogram.com/threads/55835-Kmp-0-22-wip-alpha/page81

[2013-11-09 16:53] TehGimp commented on #252
Thanks for the update!

[2013-11-09 16:53] #252 closed, assigned to nobody

[2013-11-09 17:37] rekcon opened #260 "Vessels send only protovessel updates when in atmosphere"
My testing shows when in atmosphere only protovessel updates are sent to the server. This may be unexpected behavior.

[2013-11-09 17:59] ghost commented on #257
we both downloaded and instaled it today so its the same version

[2013-11-09 18:10] rekcon opened #261 "Server must be closed and restarted for /set LogLevel Debug to 'stick'"
Server must be closed and restarted for /set LogLevel Debug to 'stick'. I expect before /start and after /stop any change to the config file via /set or otherwise to be reloaded on /start.

[2013-11-09 18:16] TehGimp commented on #260
Yeah that doesn't sound right--good find if so, should have a chance to verify later today

[2013-11-09 19:05] ghost opened #262 "ArgumentNullException: Argument cannot be null."
just compiled and launched client

[LOG 22:49:39.554] KMP loaded
[EXC 22:49:39.811] ArgumentNullException: Argument cannot be null.

[2013-11-09 19:57] TehGimp commented on #251
Possibly resolved in https://github.com/TehGimp/KerbalMultiPlayer/commit/b91d3e019bd56b7e1cd67dfb3d97bfb2e38a32cc

[2013-11-09 20:07] TehGimp commented on #251
Tentatively closing based on early reports in #KMP

[2013-11-09 20:07] #251 closed, assigned to TehGimp

[2013-11-09 20:49] TehGimp commented on #246
Fixed by @Wayneoween

[2013-11-09 20:49] #246 closed, assigned to nobody

[2013-11-09 22:05] TehGimp commented on #187
Throttle-related update issues should be addressed in https://github.com/TehGimp/KerbalMultiPlayer/commit/a720dedb7da96209433171aee957dfbe51160dfa. Please re-open if they recur or file a new issue for unrelated vessel persistence problems.

[2013-11-09 22:05] #187 closed, assigned to TehGimp

[2013-11-09 22:06] TehGimp commented on #260
Fixed in 8845126

[2013-11-09 22:06] #260 closed, assigned to TehGimp

[2013-11-09 22:09] TehGimp commented on #184
@AIMaster Can you retest with a server and client running latest? Not sending full protovessel repeatedly (fixed in https://github.com/TehGimp/KerbalMultiPlayer/commit/884512604e6e25d990df1c38f0934efa9ad7f292) may address most of this problem.

[2013-11-09 22:16] TehGimp commented on #250
Found and corrected the problems that appear to cause these symptoms, see commits https://github.com/TehGimp/KerbalMultiPlayer/commit/a720dedb7da96209433171aee957dfbe51160dfa & https://github.com/TehGimp/KerbalMultiPlayer/commit/884512604e6e25d990df1c38f0934efa9ad7f292. Please retest and re-open this issue if there are further similar problems

[2013-11-09 22:16] #250 closed, assigned to nobody

[2013-11-09 22:18] TehGimp commented on #256
@AIMaster this only prevents vessels other than the active vessel from being sent while flying in-atmo, which is an optimization originally put in place due to the performance hit when these vessels are immediately loaded and destroyed by nearby clients. Given improvements in addRemoteVessel to prevent these load performance issue, we can test lifting this restriction in 0.1.4.0 in order to enable

[2013-11-09 22:20] TehGimp commented on #258
@TacticalPenGuinn My apologies for not getting the release out soon enough for your own universe database, but latest commits resolve issues with database size by reducing it by several order of magnitude. If you're able to grab a dev build of the server it can shrink your current database to just a few MB, but it is not compatible with the released 0.1.2.0 client and you'd need to return to the r

[2013-11-09 22:20] #258 closed, assigned to nobody

[2013-11-09 22:24] #254 closed, assigned to nobody

[2013-11-09 22:26] TehGimp commented on #259
With the recent database options this really shouldn't be an issue--players can launch hundreds of vessels and the database should be tolerable, even before dekessler'ing

[2013-11-09 22:26] #259 closed, assigned to nobody

[2013-11-09 22:31] TehGimp commented on #184
Tentatively closing based on own testing, please re-open this issue if it recurs in latest dev builds

[2013-11-09 22:31] #184 closed, assigned to TehGimp

[2013-11-09 22:32] TehGimp commented on #1
Bumping to 0.1.4 milestone--still lacking good testing capacity on this one, but shouldn't be an issue to have it fixed sometime next week (I hope).

[2013-11-09 22:58] #173 closed, assigned to nobody

[2013-11-10 01:00] TehGimp commented on #230
Should be fixed by https://github.com/TehGimp/KerbalMultiPlayer/commit/56ecf8790fd6a37f50be0d85e3f15d7c8278c6d4, will monitor

[2013-11-10 01:00] #230 closed, assigned to nobody

[2013-11-10 01:06] Namonic commented on #1
FIXED or WORKAROUND?

Proof I can set up a KMP server:
I have a server instance running on a 64 bit version of Gentoo.  Using Mono 2.10.9 as well as sqlite 3.7.17.  I am experiencing disconnects inside and outside of my wired network every 5-10 minutes so I decided to switch to my EC2 instance.

SUMMARY:
In Amazon EC2 - I mimicked the same build in two different EC2 environments and was receiving

[2013-11-10 01:08] TehGimp commented on #1
Marked as workaround available--seems like you've got us a lot closer, thanks @Namonic!

[2013-11-10 02:00] rekcon opened #263 "At KMPManager.cs line 2085, distance from KSC is the same for every landed vessel at login"
At KMPManager.cs line 2085, distance from KSC is the same for every landed vessel at login. I debugged this by adding the below debug prints:

KMPClientMain.DebugLog("Tried to load vessel too close to KSC");
KMPClientMain.DebugLog("Update Null and Kerbin: " + (update == null && update.bodyName == "Kerbin"));
KMPClientMain.DebugLog("KSC Pos != 0: " + (kscPosition != Vector3d.zero));
KMPClientMain.D

[2013-11-10 02:39] TacticalPenGuinn commented on #258
@TehGimp  No worries! The group on my server is well aware that this is a pre-alpha mod and that this kind of stuff will happen. I've enjoyed hosting a server to help out! Also, I do have some experience in Visual Studio/C# if you guys ever need any dev help!

[2013-11-10 02:44] Wetmelon commented on #258
Yeah come join us at #kmp on espernet

[2013-11-10 02:52] Wetmelon commented on #110
I'm working on this as part of a client config file change, probably for 1.4

[2013-11-10 04:20] MidwestB opened #264 "Ability to spectate a ship controlled by another player"
It would be very nice for co-op style gameplay to be able to have a spectator mode, getting a normal camera view of a ship under another player's control, without yourself gaining control

[2013-11-10 04:47] TehGimp commented on #202
Safety-bubble is now a cylinder with radius set on server side 939ffaf

[2013-11-10 04:47] #202 closed, assigned to nobody

[2013-11-10 04:47] TehGimp commented on #263
Fixed in https://github.com/TehGimp/KerbalMultiPlayer/commit/6b3571a5baf22562c4932d79152759ae8e4e732d

[2013-11-10 04:47] #263 closed, assigned to TehGimp

[2013-11-10 04:53] #218 closed, assigned to nobody

[2013-11-10 05:16] rekcon opened #266 "When two or more players are using the maneuver nodes, your node while sometimes become the other players node"
When two or more players are using the maneuver nodes, your node while sometimes become the other players node.

This is a bit difficult to describe, but here goes:

If Player A and Player B are both using maneuver nodes, when clicking and dragging to change oribit angles Player A's node may sometimes become Player B's node. Player A's node will disappear and appear to teleport to the location of

[2013-11-10 05:18] TehGimp commented on #264
This is something I'd like to see eventually too, but we'd need to find some way to reliably prevent all user input first (or alternatively, come up with a system that allows players to share control).

[2013-11-10 05:22] TehGimp commented on #266
Sounds like #19?

[2013-11-10 05:34] rekcon commented on #266
Yes, sounds like the same just a bit more defined. This is a dup.

[2013-11-10 05:37] TehGimp commented on #19
More details in #266

[2013-11-10 05:38] #266 closed, assigned to TehGimp

[2013-11-10 06:11] TehGimp commented on #221
Fixed by ruarai 440ebe617d

[2013-11-10 06:12] TehGimp opened #268 "ChatDX needs some final polish for release"

[2013-11-10 06:31] TehGimp commented on #261
Resolved in https://github.com/TehGimp/KerbalMultiPlayer/commit/9fc9a376be813cbee519f9d92ad23cca28ab5312

[2013-11-10 06:31] #261 closed, assigned to nobody

[2013-11-10 06:59] Aringarosa opened #270 "Excessive RAM occupancy by server"
Sorry for the Google translation

If the server is running longer it is after about 12 hours over 5 gigabytes of RAM.

[2013-11-10 07:01] TehGimp commented on #270
Already fixed in latest commits. A dev build can reduce your database size (and RAM use) dramatically, and is often available by asking people on #KMP on EsperNet for a link

[2013-11-10 07:05] TehGimp commented on #270
See #258

[2013-11-10 07:05] #270 closed, assigned to nobody

[2013-11-10 07:06] Aringarosa commented on #270
Oh thank you. I'll do the build myself.

[2013-11-10 07:07] TehGimp commented on #270
Please be aware that dev version is not compatible with release client, but we're updating tomorrow most likely, or Monday morning

[2013-11-10 08:15] rekcon opened #271 "De-oribiting probe previously flown by another player causes it to be destroyed and reactivated in a loop"
De-oribiting probe previously flown by another player causes it to be destroyed and reactivated in a loop.

KSP Log: https://www.dropbox.com/s/pj02t88438qlc6c/KSP_Fast_Collison.log
Crash happens at 03:10:30.495.

Seen on bb954743a9.

[2013-11-10 08:21] rekcon commented on #271
I should mention I (not Dahc) was flying the vessel at point of collision with Kerbal.

[2013-11-10 09:56] Jalict commented on #1
Really sweet done @Namonic , but could you maybe elobrate on soft linking part?:
 `I then created a soft link to the libsqlite3.so.0 to this new install, /usr/local/lib/libsqlite3.so.0, which is a link to the main library libsqlite3.so.0.8.6`
I'm not that familiar with Unix envireoment and how this work - But if you could just give a bit more detailed description on how this is done. Then I would

[2013-11-10 10:46] krzys-h opened #272 "Add kerbalEVA and flag to list of allowed parts"
- _kerbalEVA_ - kerbal sitting in external seat (seatExternalCmd) - it doesn't count as kerbal in EVA (and we are already checking if `!FlightGlobals.ActiveVessel.isEVA`)
- _flag_ - flag on the ground

Client logs:

[code]

And for flag:

[code]

[2013-11-10 12:35] ghost opened #273 ""whereami" chat command"
"whereami"

wrotes server info: name, ip and port you are connected to.

[2013-11-10 12:41] ghost opened #274 "0.1.2+ (0.1.3 dev) bug: terminated vessel in tracking station not appears"
1. connect to any server
2. go to tracking station and terminate all (eva, vessels, etc, you are not allowed to control)
3. go to space center, return to tracking station:  terminated vessels not appears, but should to.

[2013-11-10 13:04] ghost opened #275 "!bubble chat command"
add !bubble chat command:

shows info on current server bubble:
[height, width ]

and your distance to its border.

for example:

me  >> !bubble
Server >> Bubble settings: [40km height, 30km width], you are at [5km, 24km] to its borders.

5km to the top, 24km to the plate.

[2013-11-10 14:42] krzys-h commented on #275
Maybe we should just draw the bubble on the screen?

[2013-11-10 14:57] DanishPirate opened #276 "Cheats"
if you hold alt and press f12 you get the box with debug and cheats etc it seems that the cheats Work in kmp will that any time soon get fixed?

[2013-11-10 15:03] DanishPirate opened #277 "Jebediah being in ship"
I load up my ship and random crew members get selected and in those jebediah is with i certain that's a bug he isn't where he's suppose to be and i don't know how that wil mess Things up
![2013-11-10_00001](https://f.cloud.github.com/assets/5872430/1508771/460c0880-4a19-11e3-898d-7e598767dda3.jpg)

[2013-11-10 15:34] DebatedNothing opened #278 "Atmospheric alements"
That title though. Anyway me and two friends were trying to make a rendezvous over K2. First off can you even ever see ships in atmosphere? But then me and a friend simultaneously exploded for no reason and were ejected at great speed from kerbin. Is this a known issue? Will it/can it ever be solved?

[2013-11-10 15:36] krzys-h commented on #278
Duplicate of #256?

[2013-11-10 15:56] ghost commented on #275
ok if its possible

[2013-11-10 15:58] ghost commented on #276
so dont press.
it needs to be added to server some anitcheat sistem but using mods like mumech etc is still possible

[2013-11-10 16:23] Namonic commented on #1
@Jalict thank you!

1.) Remove the libsqlite3.so.0 file from your KMP directory.  (Personally I move it to a backup location in a newly created subdirectory so I don't lose it.), using "mv libsqlite3.so.0 <some subdirectory>/libsqlite3.so.0.bak"

2.) Create a soft link by performing the following command:  "ln -s <target file> <link name>"

In my case I created a new library in /usr/local/lib usin

[2013-11-10 16:50] RasmusBeck commented on #277
Well, someone retrieved him between your last flight and that flight.

[2013-11-10 16:57] ghost commented on #277
in the launchpad new are appears randomly, not a bug.
in the game without kmp you'll same.

[2013-11-10 17:23] Wetmelon commented on #278
Sadly "ailments" is what you were looking for, but "alements" sounds like you were drinking :beers: hehe.

Regardless, I think krzys-h is right and this (should) be fixed now

[2013-11-10 17:28] Wetmelon commented on #276
Any time Soon™?  Probably not, however it is a planned feature.

[2013-11-10 17:31] emmaconnor commented on #1
@Namonic Thank you very much! After following your steps my server is now working on Centos 6.3 32 bit.

[2013-11-10 17:36] TehGimp commented on #179
Resolved in https://github.com/TehGimp/KerbalMultiPlayer/commit/ae6fdcd2e2f78ce0348263ac498e23d0d5742b5b

[2013-11-10 17:36] #179 closed, assigned to nobody

[2013-11-10 17:38] TehGimp commented on #275
Chat command is easier to implement, but it might be possible to highlight the bubbles edge...

[2013-11-10 17:38] #272 closed, assigned to nobody

[2013-11-10 17:44] TehGimp commented on #277
Yeah, I'm also not aware of any bugs that would result from having a duplicate Jeb around--KSP outputs debug messages that suggest it is doing some amount of error checking on the crew roster. Please re-open if anyone notices a gameplay problem surrounding a similar glitch.

[2013-11-10 17:44] #277 closed, assigned to nobody

[2013-11-10 17:50] TehGimp commented on #278
@DebatedNothing Unless you were running the latest dev builds instead of the released versions of KMP, this sounds like a combination of solved issues. 0.1.2.0 has some bugs that prevent you from seeing other vessels while in an atmosphere most of the time (though landing can help), and the explosion sounds like one of any number of in-atmo time-sync issues that have been recently corrected. I'm g

[2013-11-10 17:50] #278 closed, assigned to nobody

[2013-11-10 18:03] TehGimp commented on #1
The README supplied with KMP Server has been updated to note that these steps may be required for alternate distributions. Thanks so much for your help testing all, and a big hand to Namonic for finding the workaround.

[2013-11-10 18:03] #1 closed, assigned to nobody

[2013-11-10 18:07] TehGimp commented on #271
@rekcon was that a probe that was still being controlled in the past by Dahc, or is that labelling in the log just prior to the destruction inaccurate?

[2013-11-10 18:08] PhonicUK commented on #221
Not really, it is actually possible to tell what the real issue is more intelligently than just "It's probably this" when a given exception type is thrown.

[2013-11-10 18:16] TehGimp commented on #235
Now confident this is a dupe of #198, but thanks for the additional report info as it's still quite helpful for debugging this one.

[2013-11-10 18:16] #235 closed, assigned to nobody

[2013-11-10 18:20] #221 closed, assigned to PhonicUK

[2013-11-10 18:21] ghost commented on #275
so we have 2 issues.
i create second)

[2013-11-10 18:22] ghost opened #280 "highlight the bubbles edge"
So.... to doooo.... issss.....

HIGHLIGHT THE BUBBLES EDGE  !

[2013-11-10 18:27] ghost opened #281 "move kmp parts list to config file in /KMP/ folder"
by the https://github.com/TehGimp/KerbalMultiPlayer/commit/803e1f9f30202d326681c98bc6d080fe3cd7ad35#commitcomment-4559139

at 803e1f9

[2013-11-10 18:31] TehGimp commented on #281
Should we package the default list with the release so that players get the new entries? This will overwrite custom part lists when installing a new version, but that shouldn't be hard to work around for those willing to jump through the current hoops...

[2013-11-10 18:32] ghost commented on #281
so the part list must be configurable in the server.
here i think to add string names of parts directly in code is wrong.
it should be in some .cfg , .ini (server \ client)

[2013-11-10 18:48] TehGimp commented on #281
The only reason this is in code is because it makes it so the PluginData folder can always be completely deleted and required files will be recreated. This code will be removed as soon as the part list is moved server-side.

[2013-11-10 19:29] TehGimp commented on #281
Addressed for 0.1.3.0--as noted we'll revisit this as part of the server-side mod control enhancements.

[2013-11-10 19:29] #281 closed, assigned to nobody

[2013-11-10 19:36] Jumba commented on #268
Actions:

Make chat size editable or relative to screen size.

Show border on hover

Make sure settings are saved on disconnect

Change chat button to backtick `

Move chat entry field to the top, or add a black background with opacity @ 40%

[2013-11-10 19:39] TehGimp commented on #268
@Jumba and if we go with docked, non-moveable chat (still hideable, w/o border on hover etc, which I kind of like) make sure you can click-through it (maybe by setting the appropriate GameObject.layer to '2')

[2013-11-10 20:02] TehGimp commented on #198
I think part of these bugs was solved by lifting the throttle-check when sending a full protovessel update, but additional testing will be needed to confirm. Additionally, commit https://github.com/TehGimp/KerbalMultiPlayer/commit/d9d06b7fa4a6fe560d66ed1918e46e11c25d90d7 now allows the client to receive and process vessel updates from the Tracking Station, although please note that they are shown

[2013-11-10 20:02] #198 closed, assigned to nobody

[2013-11-10 20:07] TehGimp opened #283 "New vessels received while at the Tracking Station do not appear on the list on the left-side of the screen"
Commit https://github.com/TehGimp/KerbalMultiPlayer/commit/d9d06b7fa4a6fe560d66ed1918e46e11c25d90d7 allows the client to process updates at the Tracking Station which should correct various issues with users not realizing they need to start a flight to get recently-updated vessels to load (e.g. when a player undocks). While those updates are now processed and displaying on the Tracking Station's m

[2013-11-10 20:26] RasmusBeck commented on #240
Hey, that was me! Thanks for the credit, hehe.

Seriously, yup, this is needed and should be higher priority.

[2013-11-10 20:27] TehGimp opened #284 "Vessels in Tracking Station that are "InUse" rapidly pulse between having/not having the "*" that marks unavailable vessels"

[2013-11-10 20:36] RasmusBeck commented on #257
Did you port forward?

[2013-11-10 21:55] rekcon commented on #271
@TehGimp the labeling in the log was inaccurate.

[2013-11-10 22:40] emilhem opened #285 "Syncing while acending while having full throttle made rocket explode (hillarious youtube video)"
So me and a friend were playing KMP.

I was getting close to Mun while he was starting his acent. Then he wanted to sync around 4500m above Kerbal.

He did double sync though.

See the result for yourself in this hillarious recording:

Kerbal Space Program Random crasch in multiplayer
http://www.youtube.com/watch?v=NEbunvuVpbM

[2013-11-11 00:22] DataSchmuck commented on #268
any chance of getting it to remember its window position across gaming sessions?

[2013-11-11 00:29] bbqroast opened #286 "Momentarily freezss during takeoff"
Game freezes every second or so for 100-500 ms - nearly unplayable.  Worked fine before when server was less populated.

[2013-11-11 01:03] rekcon opened #287 "Landed vessels will sometimes load in and immediately 'fall through Kerbin' causing an NRE storm"
Landed vessels will sometimes load in at login and immediately 'crash through Kerbin' causing an NRE storm.

https://www.dropbox.com/s/n7wkn8otlqkk4kv/KSP_Landed_explosion_NRE_storm.log

Seen on d9d06b7fa4

[2013-11-11 01:40] rekcon commented on #287
The NREs seem to occur because the client believes the vessels have exploded but the server continues to tell it otherwise.

[2013-11-11 02:03] Wetmelon commented on #286
this is likely related to a server RAM/seek issue from the database getting too big, which is being largely fixed in 1.3.

[2013-11-11 03:25] Jumba commented on #268
I decided to go with the fixed & docked route... so the position is fixed.
Tho adding an option to edit the dimensions is a good idea. I'll keep that
in mind for the second release.
On Nov 11, 2013 1:22 AM, "DataSchmuck" notifications@github.com wrote:

[2013-11-11 03:29] TehGimp commented on #285
Hmm--I will have to test similar scenarios, perhaps we should disable sync when throttle is up... The problem is likely that since KMP assumes you don't aren't thrusting while syncing, he crashed back into Kerbin by the time the sync was completed.

[2013-11-11 03:31] TehGimp commented on #287
This will probably miss 0.1.3, but I'll take a look at it before release if I can.

[2013-11-11 03:32] TehGimp commented on #286
We'll need to retest issues like this once 0.1.3 is available to establish whether they're caused by problems we've solved or something novel.

[2013-11-11 04:49] Aringarosa commented on #286
Sorry for a translator

I noticed that the game puts the Pysik delta-per-frame at every reboot to 1.00. This also produces dropouts especially in many parts / number of objects. Reset This only happens with KMP no way the set value.

[2013-11-11 06:38] ghost commented on #286
i got this too, but it seems the problem is that the connection to server is syncrohous so the game "waiting" while it receive\send "vessel update" state. if this be in async then we get no lugging, but more critical lugs later, or it should say "getted full async".

[2013-11-11 14:04] ghost commented on #257
we tried both on the same network and on difrend with hamachi

[2013-11-11 14:57] rekcon commented on #19
I was thinking about the maneuvering nodes. The unexpected behavior I see happens only while actively changing the attributes of the node (click drag). Maybe we could make a clause that checks: if (the active vessel's node is actively changing) {put off the update of other vessels until no change is detected}

[2013-11-11 15:25] ghost commented on #19
i think it should be timeout of non-clicking.
when you stop changing anything in tracking mode.
mouse clicking.

but it is not solving the problem, its awoiding it.

it needs to be fixed normally.

2013/11/11 rekcon notifications@github.com

[2013-11-11 16:21] RasmusBeck commented on #285
Almost 100% that this is due to that when you sync, it's basically like you warp to the exact time your friend is at (but it does it in a "Jump" not a warp over time).

[2013-11-11 22:18] #19 closed, assigned to TehGimp

[2013-11-11 22:35] butterkitty opened #291 "Vessels disappearing after another player tries to pilot"
Had a ship in orbit and everything was fine until pilot #2 tried to pilot it.  It was turned to public, but for pilot #2 it said that it was already in use and as soon as he tried to pilot it, it disappeared from the tracking station for pilot #1.  Now it can't be seen by pilot #2 after pilot #2 rejoins the server.

[2013-11-12 00:17] #284 closed, assigned to nobody

[2013-11-12 00:18] Wetmelon commented on #257
Rjldk, please try this installer for the server and both clients: https://www.dropbox.com/s/10j7abmf5jf4hxr/KMP_Extractor.jar

Others have had luck with it, perhaps you will too :)

[2013-11-12 00:42] TehGimp commented on #287
Leading theory at the moment is that the client is receiving and adding vessels before the flight scene is fully initialized, and that we may be able to solve it by adding a momentary delay after the initial flight scene is loaded before processing the incoming updates.

[2013-11-12 01:18] TehGimp commented on #287
<gimp> I get the feeling it might even be really easy to pull that off if we bump network protocol and test the crap out of basic syncing (so probably deferring to 0.1.4)--what I'm thinking is just stop the server from tracking Client.universeSent at all, and then in KMPManager.OnFirstFlightReady have it make the sync request always instead of just on a docking/error resync
<gimp> so the server wo

[2013-11-12 01:28] #271 closed, assigned to TehGimp

[2013-11-12 01:29] TehGimp commented on #271
This will need to be retested in 0.1.3 to check for issues with correcting recording the crashed status of the vessel, or for issues with a vessel not directly under the player's control.

[2013-11-12 01:32] TehGimp commented on #291
Unable to duplicate and possibly fixed by other tweaks with vessel persistence and vessel updating/in-use flagging in latest version. Please retest with 0.1.3.0 once available and re-open this issue if problems persist.

[2013-11-12 01:32] #291 closed, assigned to nobody

[2013-11-12 02:46] TehGimp commented on #268
Just need to make the toggle key bindable and finish removing ChatOG.

[2013-11-12 03:56] TehGimp commented on #268
Release v1 in commit https://github.com/TehGimp/KerbalMultiPlayer/commit/8cf3120ad504953412da3e71a6623e8dfaa350dc

[2013-11-12 03:56] #268 closed, assigned to TehGimp

[2013-11-12 04:28] TehGimp opened #293 "Latest version of same-subspace time-sync may be capable of shifting orbits"
butterkitty{E}> so...i launched some stuff and now it's like the orbits didn't move with kerbin
butterkitty{E}> they're off centered
butterkitty{E}> they were circular orbits at around 150km...now the one is at 275km and rising and i haven't touched it
butterkitty{E}> seems like something odd happened with the time sync
...
butterkitty{E}> i was trying to dock with it when things got weird
butterk

[2013-11-12 04:42] TehGimp opened #294 "Duplicate vessels in map (but not game?), possibly only when in different subspaces"
https://www.dropbox.com/s/ts5ptklqy7k3pdz/rekcon%202013-11-11-23-27-42.png

Player 1:
https://www.dropbox.com/s/j9jun01nkye6u1e/KSP.log

Player 2:
https://www.dropbox.com/s/b6ctiol6yy6e2o7/KSP%20%282%29.log

Affected vessel appears to be ec693610-5c6a-4217-9e1c-4df33e32d52d on rekcon's dev server running bd95200735

[2013-11-12 06:02] TehGimp commented on #294
I wasn't able to see the same issues when testing with latest, I think https://github.com/TehGimp/KerbalMultiPlayer/commit/1dc652ff6fdfd963d95ebf4f353ad20c1fb0d543 may have corrected the issue. Tentatively closing, but please re-open if you encounter anything similar again.

[2013-11-12 06:02] #294 closed, assigned to TehGimp

[2013-11-12 14:14] tankerkiller125 opened #297 "Handshakes are never received/never connect."
I've tried many things in an attempt to allow me to connect to servers I have tried to do many different things. I tried running my own server in an attempt to find the problem but it was a successful connection the very first time no problems. Please help me!

[2013-11-12 14:40] TehGimp commented on #297
If you were able to successfully connect to your own server, there are two potential causes:
1) Some public servers have been recently testing a development build that was mistakenly marked as 0.1.2.0 but which is actually the development version of 0.1.3.0 which is incompatible (and also due for release later today)
2) You're just having connectivity trouble with the particular servers you tried

[2013-11-12 14:42] TehGimp commented on #293
Unable to reproduce as yet with latest, may have been due to syncExtantOrbit being asynchronous in some builds, but currently awaiting feedback on this bug from other testers before pulling the trigger on 0.1.3.0

[2013-11-12 15:33] ghost commented on #293
i think commit it, and it will be out 0.1.3.1 when this occurs again)

[2013-11-12 15:44] butterkitty commented on #293
It's an odd bug that I've only run into once so far.  I'll be keeping my eye on it for sure to see if it happens again though.  But I don't expect to see it again for a bit.

[2013-11-12 16:02] TehGimp commented on #293
Tentatively closing--please re-open if this is ever encountered with 0.1.3 release or later.

[2013-11-12 16:02] #293 closed, assigned to TehGimp

[2013-11-12 17:05] TehGimp commented on #264
I'd like to take a look at this for 0.1.4, but may not get to it given other priorities

[2013-11-12 17:05] TehGimp commented on #257
Tentatively closing--please re-open @Rjldk if you continue to encounter difficulties

[2013-11-12 17:05] #257 closed, assigned to nobody

[2013-11-12 19:09] butterkitty opened #300 "Null reference exception flood eva"
Take 2 kerbals on eva near each other have one move into the future, have the other sync.  At this point neither kerbal can move and debug console reports null reference exception constantly.

[2013-11-12 19:12] RasmusBeck commented on #300
http://imgur.com/4eX23zc Here's a piccy

[2013-11-12 19:20] RasmusBeck commented on #300
I crashed at the end, likely got something to do with this glitch

Last chunk of the log
http://pastebin.com/Qf52p2eq

[2013-11-12 22:49] TehGimp commented on #274
Currently the vessels reappear after you start a flight, but we can probably have the Tracking Station request a sync from the server if we're willing to deal with the performance hit that would result--might need a cooldown to prevent it from happening too often...

[2013-11-12 22:55] #285 closed, assigned to nobody

[2013-11-12 22:56] TehGimp commented on #150
Looks like this was just a throughput issue--if not immediately resolved in 0.1.3 please ensure the bandwidth on the server you're playing on is adequate.

[2013-11-12 22:56] #150 closed, assigned to nobody

[2013-11-12 22:58] TehGimp commented on #143
Tentatively closing given all the fixes for vehicles on Kerbin and new safety-bubble, etc, & related issues already closed. Please re-open if this is encountered again in 0.1.3.

[2013-11-12 22:58] #143 closed, assigned to nobody

[2013-11-12 23:01] TehGimp commented on #180
I think this is corrected in 0.1.3, please re-open if encountered again.

[2013-11-12 23:01] #180 closed, assigned to nobody

[2013-11-12 23:22] TehGimp commented on #23
Has anyone seen this post 0.1.2? Tentatively closing...

[2013-11-12 23:22] #23 closed, assigned to nobody

[2013-11-12 23:37] Joshj5hawk opened #301 "Server side /motd /rules and /setinfo always set to lowercase letters"

[2013-11-12 23:43] #301 closed, assigned to nobody

[2013-11-12 23:51] rekcon opened #302 "Vessels that break off a currently active vessel automatically become private."
Vessels that break off a currently active vessel automatically become private. I believe the expectation would be the private/public property would be copied from the 'parent' vessel.

[2013-11-13 00:25] TehGimp opened #303 "Terminating vessels doesn't always work"
Seems to fail if the Tracking Station is experiencing an NRE flood for any reason.

[2013-11-13 02:41] fore5fire commented on #302
For me they are automatically becoming public. Tested in space using decouplers and at the launchpad by actually breaking the second capsule off.

[2013-11-13 02:42] TehGimp commented on #302
@Landmine130 How about with an undocking?

[2013-11-13 03:00] fore5fire commented on #302
Undocked ships are always public as well. I did notice that docking vehicles always makes them become public though, even if they are both private before docking.

[2013-11-13 04:40] fore5fire opened #304 "Able to hijack private vehicles by docking with them"
Tested with occupied and unoccupied vehicles. When you target the docking port it says you can't dock and the target gets deselected, but you can still actually dock if you don't target the ship or target a different part of it.

Edit: Sorry not target a different part. I meant target it when its far away so you're targeting the vessel and not the docking port.

[2013-11-13 05:04] Aringarosa commented on #304
Googel Translator

This has been going into the game mechanics if the Doking Port says it can not perform its action. And if you have to, my theory, permanent (or at intervals) Check whether if you have several, just to dock port to another Focuses and tried. And then cancel this action.

In general, the approximate can not be prevented.

[2013-11-13 06:02] codecnotsupported opened #305 "Backquote doesn't respond when binding keys(The default chat key)."
When I press the "~" it really doesn't do anything.
I have to rebind the chat hot-key, to something else.
Clean install, running KSP_64-bit Ubuntu 12_04 64-bit

Does anyone have the same problem and if so can the default chat key be something else?

[2013-11-13 06:25] TehGimp commented on #304
Partially fixed in 55ba777, but still hunting down a regression with privacy flags not being set correctly for other players. Remaining issues will be tracked on #302 as it appears to have the same root cause.

[2013-11-13 06:25] #304 closed, assigned to nobody

[2013-11-13 06:27] TehGimp commented on #305
Also running Ubuntu 12.04 64-bit and haven't seen this. Monitoring for other reports, but please verify that no other apps are using "~" as a hotkey or similar.

[2013-11-13 06:34] TehGimp commented on #302
There appear to be some regressions in 0.1.3.0 that prevent vessel locks from being reliably updated, but I have yet to trace the cause. Based on early testing, it appears that either clients aren't correctly broadcasting privacy lock status for some reason, or possibly the server is broadcasting messages with an incorrect privacy status.

[2013-11-13 06:39] Wetmelon commented on #297
Please test with .1.3, as it is available now.  http://www.reddit.com/r/KMP/comments/1qhclx/psa_v0130_now_available_on_spaceport/

[2013-11-13 07:26] ghost opened #306 "add to server's info safety bubble radius"
for viewing at
http://kerbal.wlsing.nl/
or smth like this

[2013-11-13 07:48] fore5fire opened #307 "Enhancement: Smoother motion using last known acceleration values"
Maybe making position estimates non-collidable to avoid accidental ramming due to lag.

[2013-11-13 08:14] Wetmelon commented on #262
I also get this error.  Doesn't seem to affect anything though.

[2013-11-13 08:20] Wetmelon opened #309 "Add server titles, refactor favorites"
- [x] Refactor favorites into a changeable List<string><string> *\* Currently an ArrayList
- [x] Change XML commands to add/modify from the XML doc instead of re-writing the whole thing.
- [x] Change XML doc structure to support favorite server titles and hostnames, e.g. <fav pos="0" name="Any Title">localhost:2076 </fav>
- [x] Add GUI field for server title.

[2013-11-13 08:52] ialexryan opened #311 "Documentation for chat window commands"
Hi there!  I don't see any information on the commands you can enter in the chat window (!help, !list, !quit, etc.) in any of: the README files (server or client), the GitHub readme or the website.

Just thought I should mention that!  Please feel free to close this if I'm just missing it.

[2013-11-13 10:07] godarklight opened #312 "Drop out getting ships through the bubble with a slow direct connection, fine with tunnelling."
This is the bug I originally called #250, But that was before we found the ship uploading in an endless loop thing.

Port forwarding via tunnelled SSH makes KMP completely stable for me (I can launch 500 part monsters).
Directly connecting to the server makes KMP drop out during the bubble for larger ships (3 parts works, 50 parts doesn't).

Wireshark looks like this after a disconnect (same image

[2013-11-13 12:03] ghost opened #313 "duplicate of vessels appears after sync"

[2013-11-13 12:05] ghost opened #314 "ability to turn off multiplayer"
add ability to turn off multiplayer to play offline with installed KMP
it cant be done now while kmp.dll is in ksp plugins dir

[2013-11-13 12:23] ghost opened #315 "enhancement: universe sync between servers"
ability to migrate with your colony to another server (only on the space)

so it'll be smth like 2-3 solar systems, every solar system is being controlled by one separate server.

like
Kerbin1, Kerbin2, etc.

so fleet can be migrated only in subplanetary space (between ello and duna, for example), so itll be no collisions, when it appears in some-body  kerbin-system on the orbit.

and i think it'l

[2013-11-13 12:50] Joshj5hawk commented on #275
AllMaster, I'm going to have a peek at this (The one that will report the bubble radius), for starters it will just tell you what the radius of the server bubble is, but I hope to expand it to give that other info for you!

[2013-11-13 13:11] Jumba commented on #305
Is it possible to bind to something else, then bind back to backqoute? Does the binding succeed, and if so, is it usable then?

[2013-11-13 14:19] TehGimp commented on #306
kerbal.wlsing.nl isn't currently an "official" server list, but I'll pass along the request to the maintainer.

[2013-11-13 14:19] #306 closed, assigned to nobody

[2013-11-13 14:20] TehGimp commented on #309
Care to keep charge of these issues @Wetmelon?

[2013-11-13 14:21] TehGimp commented on #311
Yes--the commands were originally documented only via the Chat-window Help button which is no longer available. Information on the commands should be added to the chat-help in Server.cs.

[2013-11-13 14:23] TehGimp commented on #313
Related to other surface-sync issues e.g. #300 and need to retest some other basic syncing scenarios in 0.1.3

[2013-11-13 14:26] TehGimp commented on #314
Generally speaking KMP shouldn't be permitted to do anything that affects gameplay if gameRunning == false, and we also need to look into preventing the "invalid save" message that users sometimes see (perhaps by recreating KMP's /saves/ files at runtime and deleting them after a session)

[2013-11-13 14:29] TehGimp commented on #315
This one is way out of scope for the moment--maybe something we could look into months down the road, but probably smarter just to add a scripting layer to KMP that makes it easy enough for others to add high-level custom behaviours like this.

[2013-11-13 14:29] #315 closed, assigned to nobody

[2013-11-13 14:31] TehGimp commented on #307
I'll experiment with this when I get a chance to see if it yields a better gameplay experience--I imagine we can make this work with the current architecture but would want to reduce the magnitude of incoming acceleration values (ala current flight control handling) given KMP's low tickrate. This issue may also be addressed by increasing the KMP tickrate based on situation in order to provide bett

[2013-11-13 14:41] TehGimp commented on #262
@Wetmelon this appears to be getting thrown in loadGlobalSettings and seems to be blocking settings from loading. Seems that KSP.IO methods in loadGlobalSettings are likely responsible.

[2013-11-13 15:01] codecnotsupported commented on #305
No, that's not possible Jumba, I'll now look if any other programs are interfering with that key by using a
"guest account", that I'll have (almost) only the default stuff on it (And default config files).

UPDATE:
Just checked, with a guest account, it ain't working yo.

[2013-11-13 16:10] Jumba opened #316 "Ability to edit the chat size & location."
Commands:

/chat [height|width|top|left] [number] <percent|pixels>

/chat dragwindow <true|false>

With the dragging set to the value, or toggled if no value is provided.

[2013-11-13 16:46] Jumba commented on #305
Thanks for checking! That's odd though. I'll have to install Ubuntu 12.04 x64 on a VM and try it out myself.

What type of keyboard are you using, normal QWERTY/US, or is it a different localization or whatever.. ?

[2013-11-13 16:48] TehGimp commented on #305
@Jumba I'm **_not**_ having these issues on Ubuntu 12.04 x64--using a standard US keyboard layout myself.

[2013-11-13 17:48] xxscorps opened #317 "Safety bubble radius cannot be set to ****"
I try setting the safteybubbleradius and it says that^

[2013-11-13 17:51] TehGimp commented on #317
The entered safetyBubbleRadius must be a number, and cannot include any other characters e.g.
/set safetyBubbleRadius 5000

[2013-11-13 17:56] Pin-Lui opened #318 "System.FormatException"
If you typ /dekessler and leave a space behind the comand (dont now how to explain it in english) server crashes:

[18:43:17] [Error] : Unexpected exception encountered! Crash report written to log file
[18:43:17] [Error] : System.FormatException: Die Eingabezeichenfolge hat das falsche Format.
   bei KMPServer.Server.hostingLoop()
   bei KMPServer.ServerMain.hostServer(ConfigStore settings)
[18:4

[2013-11-13 18:07] TehGimp commented on #318
I understand you--we'll trim the input and make sure to catch FormatExceptions so that typos won't kill the server.

[2013-11-13 18:16] Wetmelon commented on #309
Yeah I'll take them.

[2013-11-13 18:24] Pin-Lui commented on #318
thx btw is it possible to include landed vessels in the dekessler command? we cant deorbit them.

[2013-11-13 18:25] TehGimp commented on #318
dekessler should catch anything that's marked as Debris (and old enough), regardless of whether it's in orbit or not

[2013-11-13 18:28] xxscorps commented on #317
Grr its still not work i say /set safteyBubbleRadius 1500 or anything and is saying the error

[2013-11-13 18:32] TehGimp commented on #317
Can you grab a screenshot of exactly what you typed in and the server's response?

[2013-11-13 18:33] xxscorps commented on #317
ok umm
![image](https://f.cloud.github.com/assets/5854153/1534222/1b9d59e8-4c92-11e3-8dd1-bff86e71f55e.png)

[2013-11-13 18:36] Wetmelon commented on #317
Bad error output.  We don't have a token called "safteyBubbleRadius".  Misspelling of safetyBubbleRadius

[2013-11-13 18:37] xxscorps commented on #317
Oops :|

[2013-11-13 18:38] #317 closed, assigned to nobody

[2013-11-13 18:43] Gartral commented on #317
don't worry, we all have days where our fingers aren't correctly wired to our brains

[2013-11-13 18:44] #318 closed, assigned to nobody

[2013-11-13 18:46] Wetmelon opened #319 "Fix error messages for setting incorrect server key"
Per #317, /set <invalid key> <value> should report an accurate error if the key is incorrect.

Fix:
- [x] Create ConfigStore.contains(String sKey)
- [x] Validate /set command input for <key>
- [x] Output accurate error for invalid <key>

[2013-11-13 19:00] #311 closed, assigned to nobody

[2013-11-13 19:01] TehGimp commented on #164
Has anyone seen this in 0.1.2+? If so please re-open as I'm tentatively closing this as corrected by less-sensitive NullReferenceException flood checks in 0.1.2/0.1.3

[2013-11-13 19:01] #164 closed, assigned to TehGimp

[2013-11-13 19:09] Wetmelon commented on #86
This should be fixed in the most recent version (.1.3) can you verify?

[2013-11-13 19:50] TehGimp commented on #302
Fixed the issues I can find with vessel privacy locks, but they should still default to private in latest commits. Still need to work out a good method for reliably finding & copying the parent vessel's privacy status

[2013-11-13 20:04] Wetmelon commented on #262
I'm curious... when did this appear, and why?  Have we just not noticed/worried about it until now, or did something else change that effected this error?

[2013-11-13 20:47] fore5fire opened #321 "With safetyBubbleRadius set to a low number, clear launchpad does not work"
I found this with safetyBubbleRadius set to 10. This causes near immediate destruction of your vessel as it is placed inside the uncleared one.

[2013-11-13 20:51] TehGimp commented on #321
Unfortunately that's expected, and is one of the reasons why we have a safety-bubble--the debris can only be cleared via the Tracking Station. We might be able to implement some way for KMP to clear the area of the runway and launchpad, but that probably won't be a priority for some time unless some dev takes particular interest in it. For most servers, the recommended minimum radius is currently

[2013-11-13 20:56] fore5fire commented on #321
Got it. I suppose it was a bit of a stretch to hope to test with only needing going 10 meters above the launch pad.

[2013-11-13 20:57] TehGimp commented on #321
Just so you know, the current "bubble" is now actually a cylinder--you set the horizontal radius, but it always stretches 35km high because that's a convenient value for avoiding rocket collisions.

[2013-11-13 20:58] fore5fire commented on #321
Oh interesting thanks for the heads up.

[2013-11-13 20:58] TehGimp commented on #262
I would not be surprised if it was present in 0.1.0--can always pull the commit to test but I'm fairly sure this has been there for ages. It's even entirely possible that KLF has fixed code available...

[2013-11-13 21:44] TehGimp commented on #312
If you get a chance please test with latest commits (or 0.1.3.1 when available). I have fixes for the UDP connectivity bugs, although how the tunneller is "fixing" the TCP connection I don't yet know--as you note it appears to be closely associated with KMP's larger messages.

[2013-11-13 23:05] #300 closed, assigned to TehGimp

[2013-11-13 23:06] TehGimp commented on #300
Per commit message, please retest with 0.1.3.1 when available

[2013-11-13 23:21] TehGimp commented on #313
Fixed in 24a7a35

[2013-11-13 23:21] #313 closed, assigned to TehGimp

[2013-11-13 23:36] TehGimp commented on #262
Band-aid'd by https://github.com/TehGimp/KerbalMultiPlayer/commit/4bd03416c0754d852486de9ea72e19cec455f7ac Unless we're doing something extra dull it seems like KSP.IO.File.ReadAllBytes is just bugged?

[2013-11-13 23:49] Wetmelon commented on #262
you may want to try KSP.IO.IOUtils.GetFilePathFor(Global_settings_file). I'm at work right now so I can't test it myself though

[2013-11-13 23:49] Wetmelon commented on #262
be aware though that that message does not check for existence of the file, only builds the filepath based on your current DLL

[2013-11-13 23:55] TehGimp commented on #262
It seems whatever bug affects ReadAllBytes for us also affects GetFilePathFor--it raises the same ArgumentNullException

[2013-11-14 01:07] fore5fire commented on #304
@TehGimp Do you think its best to always prevent targeting a private vessel? What if I want to rendezvous for a non-malicious reason like a race or to drop off fuel? Maybe it should just de-target the vessel if you get within a certain range instead of making it completely impossible. I'll add the code myself if you want.

[2013-11-14 01:14] TehGimp commented on #304
@Landmine130 The simpler approach is my plan for the v0.1.3.1 patch, but always banning targeting docking ports (still) and only banning targeting a vessel within a preset range (say 500m) would be much better.

[2013-11-14 02:01] opensesame11 commented on #161
Maybe a keypress that hides all other vessels? It wouldn't require any visual additions, just a mask of all other ships. Trick the game into thinking they don't exist. It may add the problem of the game having to load a list of all other ships dynamically, so someone's going to have to take a peek at that.

[2013-11-14 03:09] TehGimp commented on #161
There's a good chance this will be end up being implemented as a prefix in the Tracking Station list like the "*" that marks unavailable vessels, at least in the first iteration.

[2013-11-14 04:33] TehGimp commented on #262
Fixed in 0.1.3.1

[2013-11-14 04:33] #262 closed, assigned to nobody

[2013-11-14 04:35] TehGimp commented on #287
This _should_ be fixed in 425d435. Please retest and re-open if able to reproduce the problem.

[2013-11-14 04:35] #287 closed, assigned to TehGimp

[2013-11-14 04:36] TehGimp commented on #239
Many of the EVA related issues are fixed in 0.1.3.1, but still a few ways to produce them...

[2013-11-14 04:48] TehGimp commented on #211
Jeb has been replaced by a metal plate.

[2013-11-14 04:48] #211 closed, assigned to TehGimp

[2013-11-14 06:59] MidwestB opened #324 "!getcraft and !help not working"
Hello, a friend and I are playing on a server with just the two of us and we noticed that when we go to try to share a ship, the message pops up saying to type in "!getcraft" and the other person's username, we do not get the ship and there is no message saying it failed or anything.  Also, !help doesn't do anything anymore.  We are running 0.1.3.1

[2013-11-14 07:24] fore5fire commented on #264
@TehGimp If you you're still busy working on other stuff, could I do some work on this one? I don't want to mess with any of the higher priority issues since I'm still getting a feel for how the code is organized.

[2013-11-14 07:46] ghost commented on #161
May be smth like "[☼]Aeril 3A" or [►] Its easy to find

[2013-11-14 09:07] ghost commented on #264
i think its possible to add some  color-lighting of the triangles when its controlled by player.
when we load first we see them, and they are different colors.
this info is not so need as where the player is right now.
maybe its possible to add CIRCLE around the vessel controlled my player,on the map. ?

so its only addition to the available gameplay: draw circle around controlled vessell, which d

[2013-11-14 11:10] tankerkiller125 commented on #297
Thanks I was having trouble connecting to my own server though to witch is
the odd part and I downloaded it from the spaceport. But I will be
downloading 1.3.0 soon to test with it. Thanks
On Nov 13, 2013 1:39 AM, "Wetmelon" notifications@github.com wrote:

[2013-11-14 11:14] godarklight opened #325 "Kerbin explodes on connect (latest devel server/client)"
It's most likely the metal plate falling onto the ground (or maybe server removing debris). Hopefully it's the former and an easy fix inside of start.sfs

[2013-11-14 11:20] godarklight opened #326 "KMP complains of a missing start.sfs file"
If you run KSP.x86_64 without first changing into the directory, It will complain about a missing start.sfs even though it is installed correctly.

Error is in KMPClientMain.cs on line 1990

*Also I just realised, KMPClientMain line 1972 creates a empty saves folder in my home directory with the Ships/[VAB,SPH] things.

Workaround: I'm now running KSP from within the KSP folder. Perhaps there is a

[2013-11-14 11:36] godarklight commented on #312
You definitely fixed the UDP connection, I can see it's used if the message_size < 100 bytes. However the same issue occurs, the message_size is around 30000 so it uses TCP anyway for this.

I'm wondering if it's filling up a buffer somewhere (The zero-window thing is odd), I can't exactly put my finger on the problem. I haven't been able to test this under another form of TCP-in-TCP tunnelling ye

[2013-11-14 14:38] TehGimp commented on #325
I wasn't able to reproduce--just in case it plays a role, what is your terrain detail setting in options?

[2013-11-14 15:02] Wetmelon commented on #326
Yeah this is the same problem as #262. We need to figure that sucker out.

Edit:  This is expected behaviour, however.

[2013-11-14 15:14] Wetmelon opened #327 "Consistent lag during flight"
I tested on a public server yesterday and was getting consistent freezing every few seconds.  Appears to be caused by another user driving on Mun's surface.  I was orbiting Kerbin and receiving updates that he had crashed through the surface.  Lag coincided with these updates.  The server operator (DataSchmuck) was online and able to send me his server log

client log: https://www.dropbox.com/s/4q

[2013-11-14 15:30] TehGimp commented on #327
We'll probably need to update the "in-flight in-atmo and far away, but not syncing" case in KMPManager.addRemoteVessel to include landed stuff that is in-motion too in order to prevent this.

[2013-11-14 15:33] #324 closed, assigned to TehGimp

[2013-11-14 15:34] TehGimp commented on #324
Fixed by commit noted above, thank you for the report!

[2013-11-14 16:33] codecnotsupported commented on #305
Ey, guys I just found out that the problem was, I had hardware temperature monitoring program installed and it came it was automatically started on all users that were logged in, even the guest account. (Seriously I had no idea this could/would happen)
So yeah, sorry for that mistake.

[2013-11-14 16:33] #305 closed, assigned to nobody

[2013-11-14 16:38] #319 closed, assigned to nobody

[2013-11-14 17:08] XaaT commented on #305
I had this problem too on x64 win8.1 .

XaT
Le 14 nov. 2013 17:33, "codecnotsupported" notifications@github.com a
écrit :

[2013-11-14 18:08] #124 closed, assigned to nobody

[2013-11-14 18:32] codecnotsupported commented on #305
"I had this problem too on x64 win8.1 ."
XaaT You 'had'?
We might have 2 different problems here.
And for the sake of others that might encounter this problem, how did you fix it?

[2013-11-14 18:56] Nach0z opened #328 "Enhancement request: visible indicator of inside-bubble-ness."
Possibly change the color of the center orange wing thingy on the navball to indicate that you're still inside the bubble. No more functionality than looking at the player list, but you're already looking at the navball, so it's nice to have that extra bit of information right there.

[2013-11-14 21:26] godarklight commented on #325
Terrain detail is on high, scatters and shaders are on.

Gartral also has this issue, it popped up in my dev builds using his server - the only thing I changed in my script lately was to use start.sfs from the git repo instead of copying it over from the former release.

[2013-11-14 21:32] TehGimp commented on #325
Reproduced w/ high terrain detail and scatters, should have a fix shortly.

[2013-11-14 21:53] DataSchmuck commented on #327
There were two parts to the rover, the skycrane and the rover itself.
When you joined I was descending to the surface.  Once I was a few meters from the surface I hit "control from here" on the rovers cockpit, detached from the skycrane and gently touched down, while the skycrane flew uncontrolled up a ways, ran out of fuel, and crashed back into the mun.  The skycrane became "moon racer probe" wh

[2013-11-14 22:22] NewFarkinUserName commented on #327
Off-topic, but that is a sweet-ass rover if I say so myself.

[2013-11-14 22:53] TehGimp commented on #327
Basic plan is to update applyVesselUpdate so that it will only do a near-surface position update for nearby vessels. Near-surface vessels that are "far away" (prob ~>2500m) will only be updated from full protovessel updates and position/velocity updates will be ignored. Similar protections will be added to addRemoteVessel in the same way that in-flight in-atmo "far away" vessels are already optimi

[2013-11-14 22:54] TehGimp commented on #326
This issue will also affect #314 as my planned updates include copying KMP's /saves files around prior to connecting.

[2013-11-14 22:56] TehGimp commented on #286
Is this persisting into 0.1.3.1? Wondering if this problem might be blamed on similar circumstances to #327

[2013-11-14 22:56] TehGimp commented on #117
Fixed by https://github.com/TehGimp/KerbalMultiPlayer/commit/811443be34dce17e6dea577f4f8b563b6c85eac2

[2013-11-14 22:56] #117 closed, assigned to nobody

[2013-11-14 22:57] TehGimp commented on #275
Fixed by https://github.com/TehGimp/KerbalMultiPlayer/commit/553dc03208b5851e8ca7cec16c3ef2419837a58c

[2013-11-14 22:57] #275 closed, assigned to PhonicUK

[2013-11-14 23:05] dplarina commented on #86
I have not been able to replicate this with a new DB created in 1.3.
But the DB I have posted above doesn't seem to survive through the upgrade well. (Universe Version 1)

I think this issue can be closed however.

[2013-11-14 23:06] TehGimp commented on #86
Thanks for the update--sorry the upgrade mechanisms didn't work with your original DB!

[2013-11-14 23:06] #86 closed, assigned to nobody

[2013-11-15 01:15] TehGimp commented on #264
@Landmine130 Sorry I started into this effort without realizing you wanted to take a stab. My first cut is available at https://github.com/TehGimp/KerbalMultiPlayer/commit/43119c89152fc2f1ffb49b45aa7cb35ec2d5b8a0 and works fairly well for the most part, but has some trouble with applying incoming updates for a spectated vessel from the controlling player and still needs a way to prevent taking cre

[2013-11-15 02:40] fore5fire commented on #264
I'll take a look at it but if you're working on it you'll probably figure it out long before me. I might do best focusing my efforts elsewhere. I'll let you know if I find anything useful though.

[2013-11-15 02:41] TehGimp commented on #264
@Landmine130 ok, I'll keep it on my plate for now

[2013-11-15 03:47] fore5fire commented on #264
I think I may have figured out why the observers aren't receiving any updates. Because they are treated as if they are not in flight by writePrimaryUpdates() in KMPManager, they never tell the server their subspace id or last tick, so they fall under the update info only category on the server side in sendPluginUpdateToAll, unless they are sending ticks somewhere else that I'm not seeing, in which

[2013-11-15 03:53] TehGimp commented on #264
Good lead, thanks!

[2013-11-15 05:49] Wetmelon commented on #326
Fixed by a38602f

[2013-11-15 05:49] #326 closed, assigned to nobody

[2013-11-15 07:46] kmclarnon commented on #316
I would like to have a go at this to kind of get my feet wet in the codebase if that's okay with you, @TehGimp.  Of course anyone else who wants to work on it should feel free because quite a bit of my time will be spent learning the structure of the server/client mod

[2013-11-15 07:54] godarklight commented on #312
Results of the code I messed around with

New max message size: 8 (on start)
New max message size: 125 (on start)
New max message size: 1522 (on launch)
New max message size: 96310 (on bubble with 200 part ship)
New max message size: 193805 (on screenshot)

I did drop out a little while later...

Spamming F8 reproduces this pretty well even with faster internet. Still errors out (in wireshark) wit

[2013-11-15 07:57] ghost opened #334 "2 kerbal walking animation while working together (not jumping in new place)"
http://forum.kerbalspaceprogram.com/threads/55835-Kmp-0-22-wip-alpha?p=781184&viewfull=1#post781184

So we need to let this showing.
How - dont know, but it ll be great feature.

Maybe if player is controlling the EVA, then it can be something possible to "draw" his movement of eva? this needs to some feedback from KSP team.

[2013-11-15 10:10] godarklight commented on #312
Not sure if it was related to this bug but it's worth mentioning:

Today I undocked from a refuelling station (140 parts ish), and lost connection. When I reconnected both the refueller and the station were missing. Wasn't watching wireshark at the time so can't tell for sure, and undocking the previous 4 times before that didn't cause it to vanish (I assume undocking removes the old ship then sen

[2013-11-15 10:12] Wetmelon commented on #253
Fixed via e262d24 / #335

[2013-11-15 10:12] #253 closed, assigned to nobody

[2013-11-15 11:00] Jumba commented on #316
Thanks for the offer kmclarnon, but it's already done :(

I'll be submitting the pull request today.

[2013-11-15 14:18] TehGimp commented on #312
@godarklight That does sound like it just hadn't finished sending the new vessels--we'll probably just have to add some server-side logic that restores the original station to last known state if it doesn't receive an updated structure for it.

[2013-11-15 15:24] kmclarnon commented on #316
Haha no worries, I'll just look for something else to do

[2013-11-15 16:46] alvaro-cuesta opened #336 "Client chat commands (!) not working"
Prefixing chat with "!" does not send the chat but does not receive response either.

E.g. I type !help and the command and list of commands are not printed.

Version 0.1.3.1.

Not sure what else could be helpful debugging this issue. Let me know if I can try anything!

[2013-11-15 16:48] TehGimp commented on #336
Duplicate of #324 and fixed for 0.1.4.0 in https://github.com/TehGimp/KerbalMultiPlayer/commit/f397371d1474d80fc6ea6b74aea46cf37f275c5f . Thanks for the report!

[2013-11-15 16:48] #336 closed, assigned to nobody

[2013-11-15 16:51] alvaro-cuesta opened #337 "Stutters on vessel rendezvous"
When performing orbital rendezvous with another ship the game starts stuttering constantly (continuous <1 sec freezes) rendering the game unplayable. It gets real bad at around 2/3km and goes away when you get far again. Unsetting the target does NOT help.

Server is localhost, brand new database (only this two ships in the universe, both mine) and I'm the only player connected. Once the stutter b

[2013-11-15 16:53] alvaro-cuesta commented on #336
Sorry, my fault for only checking the open issues. Thanks!

[2013-11-15 16:55] TehGimp commented on #337
I would suspect #327 if there were other active players doing near-surface activities when you encountered the problem, but if you were alone that particular one is unlikely. It does sound similar to #286 perhaps, and the fact that you're alone suggests that it is likely a similar problem with KMP directing KSP to keep recreating a vessel that KSP is then immediately destroying for one reason or a

[2013-11-15 17:45] #314 closed, assigned to TehGimp

[2013-11-15 17:49] alvaro-cuesta commented on #337
@TehGimp, the stutter starts violently when the vessels are around 2.2km apart.

[2013-11-15 17:50] TehGimp commented on #337
@alvaro-cuesta Orbital I'm guessing?

[2013-11-15 17:55] alvaro-cuesta commented on #337
@TehGimp yup.

Though the stutter can start as early as 9km, it's continuous at around 2/3km and goes away when you go farther at 3/4km. Unsetting the target does NOT help.

Now the client log is filled with (how did I miss this?):

[EXC 18:53:46.174] NullReferenceException: Object reference not set to an instance of an object

**EDIT:** Confirmed in 0.1.3.0 too, but works fine in 0.1.2.0 (slight

[2013-11-15 17:57] fore5fire commented on #264
Aaand upon further review, I was totally wrong haha the spectator is still sending updates. The latest commit to the spectate branch seems to be working fully though, with the spectator able to see all of the pilots movements.

[2013-11-15 17:58] TehGimp commented on #264
@Landmine130 In what situations? I was testing some near surface activity and had issues still, but orbital stuff might be closer to working??

[2013-11-15 18:03] fore5fire commented on #264
Maybe saying all was a bit generous. the orientations are being updated, but I just double checked and the position isn't. Additionally, the observer can't see effects like the engine burning but I think thats a separate issue entirely. I'm testing in orbit around Kerbin.

[2013-11-15 18:05] fore5fire commented on #264
I can actually see the new orbit of the pilot on the map, it just isn't being applied to the ship.

[2013-11-15 18:06] TehGimp commented on #264
The engine burning problem is (I think) due to the input control locks suppressing the updates to the vessel's ctrlState, haven't had a chance to dig in much further into where we're losing orbital/positioning/velocity updates but some of those at least might be simple logic errors in applyVesselUpdate rather than deeper problems.

[2013-11-15 18:14] fore5fire commented on #264
I think it may be. I just spotted an issue in handleVessleUpdate. Testing the fix now.

[2013-11-15 18:21] TehGimp commented on #264
If it proves beneficial feel free to pull-req it into the spectate branch--it's up to speed with my latest changes and I'm busy with IRL work atm

[2013-11-15 18:26] fore5fire commented on #264
Awesome, thanks for the tip. I'll let you know how it goes.

[2013-11-15 20:17] TehGimp commented on #264
There's still some weirdness with near-surface stuff, but most of the big obstacles are past us. I can live with not being able to see the burn, but let me know if you have any brainstorm about how we can make that happen without releasing the input locks on the player.

[2013-11-15 20:38] TehGimp commented on #7
Given that this bug appears to also appear in other popular KSP mods (KLF, KER, FAR), closing this issue until such time as the problem is resolved by Unity/KSP or until a general fix becomes widespread.

[2013-11-15 20:38] #7 closed, assigned to nobody

[2013-11-15 22:41] fore5fire commented on #264
Still no luck in the throttle override department, but I have noticed that what looks like a bug in KSP makes it so the observer can still control the lights, landing gear and brakes via the buttons at the top, even though the keybindings are disabled. A more major issue is that observing someone while they time warp moves you ahead without actually syncing.

[2013-11-15 22:42] TehGimp commented on #264
I'm also continuing to work on the near-surface bugs--I'm either very very close or miles away from a solution on that front, one of the two.

[2013-11-16 00:32] #177 closed, assigned to nobody

[2013-11-16 00:33] #316 closed, assigned to nobody

[2013-11-16 01:02] TehGimp commented on #264
Control stuff looks good, just wrapping up my updates to addRemoteVessel later tonight, and then the only remaining obstacle I'm aware of is dealing with the "pilot"'s warping/syncing.

[2013-11-16 01:07] fore5fire commented on #264
I'm just starting to take a look at that now. Do you think the best way to handle it would be to have the spectator hang behind and have to manually sync or force them to sync immediately? My guess is that the first way would be better but it might be annoying to have to constantly be clicking sync in order to keep up.

[2013-11-16 01:10] TehGimp commented on #264
If the client knows who the "pilot" is, it could potentially watch for if there's a subspace ID attached to that player (see how the Warp buttons get added to the player list in KMPManager.vesselStatusLabels) and immediately request a subspace sync from the server...

[2013-11-16 01:17] fore5fire commented on #264
Ok I'll check it out. We also might want to disable the sync buttons so that the observer doesn't end up ahead of the pilot in time.

[2013-11-16 01:18] TehGimp commented on #264
Good call--should enforce the warp speed for observing players via OnTimeWarpRateChanged too I expect.

[2013-11-16 02:34] mfriendc opened #346 "Synchronization takes infinite time, possibly serverside map issue"
When I try to join our private server, my game will lock up at the map view attempting to synchronize

eventually the Synch Complete indicator pops up at the top right, and the green overlay text saying SYNCHRONIZATION IN PROGRESS PLEASE WAIT disappears, but the view does not switch to the space center menu, and the indicator in the player list still reads Synchronizing

Deleting the serverside ma

[2013-11-16 07:35] ghost commented on #264
RemoteTech Solve this problem. It can control other ship (+kOS plugin) without selecting and, also you are being controlling your ship while second your ship running your commands algorithm and "waiting" when it should open docking port by itself.

[2013-11-16 07:36] ghost commented on #273
[code]

this message need to be added to !help command list also

[2013-11-16 07:43] Wetmelon commented on #273
Fixed via 57fb4e9767

[2013-11-16 07:43] #273 closed, assigned to nobody

[2013-11-16 10:02] godarklight commented on #312
Might be a complete waste of time, but I made 2 eyeball-explodingly-bad programs to test sending stuff through the socket. You will obviously need to change the IP to the server computer (I ran this across the network).

http://chrisand.no-ip.info:82/kmp/testing/server.cs
http://chrisand.no-ip.info:82/kmp/testing/client.cs

I can push huge things through the socket, I stopped waiting at "Sent : 26

[2013-11-16 11:45] ghost commented on #127
requesting /reconnect chat option for client, with time interval in seconds.
for example:

/reconnect 30
- this save to client's kmp config (it is exist, isn't it? :)  )
  and try to reconnect every 30 seconds all the time if lost connection

so i can leave my computer with KSP forever and it'll be always try to reconnect if connection lost

[2013-11-16 12:06] godarklight opened #347 "Cannot join server by hostname when IPv6 AAAA records are present."
Debian has an IPv6 address for localhost in the hosts file (valid address).
I hijack chrisand.no-ip.info locally (it's mine anyways) to add AAAA records to my network (valid addresses)

You can also test the public KMP server "mygen.ca". It has a _very_ invalid address but fails to resolve properly anyway.

Typing: "host mygen.ca" results in
mygen.ca has address 50.65.9.206
mygen.ca has IPv6 addre

[2013-11-16 14:00] mfriendc commented on #346
Should I provide a copy of the maps where I had this problem?

[2013-11-16 14:03] hashashin opened #348 "/dekessler deleting not debris vessels"
After a /dekessler command on the server, some users reported I actually delete working vessels not debris, like rovers and flags.

[2013-11-16 14:52] ghost commented on #346
add all what can help to fix it

[2013-11-16 16:39] fore5fire commented on #264
I'm still having some issues with the auto sync in the new build not always being able to find the subspace id of the pilot. The auto sync also sometimes triggers the active vessel to be unloaded but I've seen that in other situations so I think it's a separate issue.

[2013-11-16 16:46] TehGimp commented on #348
If they lost vessels it's unlikely that /dekessler could be responsible--it can only remove vessels that are marked as "Debris" in KSP. See dekesslerServerCommand in Server.cs. Can you monitor for any other reports of missing vesses? Flags and rovers are most commonly lost due to sync issues in 0.1.3.1 that allow them to sink below a planet's surface.

[2013-11-16 16:46] #348 closed, assigned to nobody

[2013-11-16 17:15] TehGimp commented on #264
I'll watch for that @Landmine130--I think I have some semblance of what might be causing that. I'm still working on the revised addRemoteVessel unfortunately. It seems that we can't safely .Die() the active vessel for the observing player _at all_, so I'm currently trying to find a workable way to update the existing Vessel object with new parts/structure, instead of simply destroying and replacin

[2013-11-16 17:53] draeath commented on #303
Not sure if related, but it appears that vessels terminated seem to be recreated (by the log, before they were deleted). Race condition maybe?

The log, in debug mode, has nothing really to say: (version 0.1.3.1)
[12:50:54] [Info] : New vessel 759b3fba-c1bb-4086-a2a3-ce352dc6ba48 from draeath added to universe
[12:50:54] [Activity] : Vessel 759b3fba-c1bb-4086-a2a3-ce352dc6ba48 reported as destroye

[2013-11-16 18:16] butterkitty opened #351 "Area in VAB acts oddly when mouse is hovered over it"
I've noticed that in the VAB if I hover my mouse over a certain area (usually on the right side of the screen) the exit button in the top right is highlighted and I can't rotate the camera if mouse is in the area.

Other information:
http://www.reddit.com/r/KMP/comments/1qqr7t/weird_deadzone_thing/

[2013-11-16 18:18] TehGimp commented on #303
Could be, thanks for the report. The Jeb at space center is used by KMP to jump-start the universe sync process and is there by-design--in 0.1.4 Jeb will likely be replaced by a metal plate in KSO

[2013-11-16 18:41] Wetmelon opened #352 "Clicking on Jebediah necessary to control craft"
I have found that I need to click on Jebediah in the Tracking Station for the recover/fly buttons to become active just prior to selecting a craft to fly or it's impossible to select any vessel.

.1.3.1

[2013-11-16 18:41] draeath opened #353 "delete vessels or subspaces from server console"
For maintenance and bug-recovery it would be handy if you could forcibly drop specific vessels or whole subspaces from the server via the console. Perfect example: there's a splashed probe core in "subspace 60" that just will not go away. Related to #274 (eg server "admin" cannot remove another player's items if they are not flagged public)

Meanwhile, is it possible to do this via sqlite database

[2013-11-16 18:47] draeath commented on #337
@alvaro-cuesta I am able to replicate this, and I also receive those messages in my client log. KMP 0.1.3.1 on KSP 0.22.0.351

I also get a whole lot of "[EXC hh:mm:ss.sss] NullReferenceException" spam in the space center, as well.

[2013-11-16 22:41] fore5fire opened #354 "Initial sync screen doesn't close if player is throttled up"
It's not an issue most people will run into unless they have a joystick with a physical throttle. It will wait forever on the map, and then when you throttle down it immediately loads the space center.

[2013-11-16 22:44] fore5fire commented on #354
Likely related to #346

[2013-11-16 23:58] Techiastronamo opened #355 "Massive Lagging when near a player-controlled vessel"
My friend and I challenged each other to land on the Island runway, but as he got closer to the runway after I had landed, it was lagging like lag-fest 2013! Why is it lagging so much? I have my bubble radius set to 10km, or 10,000 metres!

[2013-11-17 00:11] Wetmelon commented on #355
were you still moving around on the surface when he was trying to land?

[2013-11-17 01:02] Xinayder opened #356 "Crash ocurring while switching to a vessel near a player-controlled vessel"
Me and @godarklight where playing together, then he says "switch to vesselname on the Mun if you want to spare time.". I switched to the vessel and then I started moving the Kerbal torwards his vessel. Suddenly, his vessel started to wobble, and then his fuel tank exploded and another fuel tank was thrown in the air, and then 2 instances of the vessel where at the same spot, and then my KSP crashe

[2013-11-17 01:05] godarklight commented on #356
I've seen a few instances of vessels duplicating, I have a KMP_universe.db file copy where things won't undock from my space station. I tried docking and undocking a refueller to it a couple of times, left it docked, logged out, resynced and there we 3 copies of it hovering around my station.

[2013-11-17 01:12] Xinayder commented on #356
Link to log file
https://mega.co.nz/#!rF1UABjY!O6nrV19NkPgvDPCCGtogyRAOgCIbPU0vTzfFj1_5lqk

[2013-11-17 01:33] TehGimp commented on #354
@Landmine130 seems like an easy fix--will just have to apply input locks ala spectating mode while "syncing"

[2013-11-17 01:34] #325 closed, assigned to TehGimp

[2013-11-17 01:42] Techiastronamo commented on #355
I was not moving. I was stationary with my plane. Then when he landed with the lag spikes, I took an EVA with my kerbal and the lag did not change, but the closer I was the laggier the game got.

[2013-11-17 02:00] HerrGeneral opened #357 "No sync button/viewer/playerlist on the KMP window, nonworking buttons"
When I join a server, the KMP window stays mostly blank- the playerlist and share screen/viewer/chat/sync buttons are nonexistent. They appear for a second or two as I synchronize when I first join the server, but then they disappear and don't come back no matter what situation I'm in. I have to have my friend sync to me whenever we want to play, because I can't sync to him. As well, none of the b

[2013-11-17 02:41] Wetmelon commented on #357
s invalid for any reason. Are there any special characters in your username that may cause an issue? What operating system are you running

[2013-11-17 02:41] Wetmelon commented on #357
errors like this can occur if the data being loaded to the GUI is invalid for any reason

[2013-11-17 02:46] TehGimp commented on #357
I've also seen similar symptoms if there's a duplicate KMP or KLF DLL lurking elsewhere in the KSP folders, so might be worth doing a quick search to make sure there's only one copy.

[2013-11-17 02:50] Wetmelon commented on #355
I don't suppose you have the server and or client logs from when that was going on

[2013-11-17 03:00] draeath commented on #303
How is kmpVessel's "Guid" and "GameGuid" encoded? Is there any way to determine what these are from in-game? I'd like to see if I see anything odd with a few vessels that just will NOT go away, rename, or change class (eg can't change from Probe to Debris). Nothing is going into the KMP server log when this is done, and nothing shows up in the KSP log either (in fact it mentions the vessel being u

[2013-11-17 03:06] Wetmelon commented on #303
Not from in-game, but the server admin can use /listships to get the ship names and GUIDs of all of the ships in the server.  I'm not sure but it may pull from every subspace, so you might get a LONG list.

Perhaps we should add Subspace ID to the output, or allow the server admin to input a craft (or subspace) name to the /listships command?

[2013-11-17 03:27] Wetmelon commented on #200
Are you still seeing this?

[2013-11-17 04:04] HerrGeneral commented on #357
I had a KLF .dll hanging around- deleting it fixed the problem and everything works now. Thanks for the help, and keep up the good work- this mod is awesome!

[2013-11-17 04:04] #357 closed, assigned to nobody

[2013-11-17 04:20] Wetmelon commented on #233
I have written a commit to add an "httpBroadcast" T/F (effectively creating hidden servers), just want to get with @TehGimp to make sure it doesn't break anything to not have that server running.

[2013-11-17 04:55] Techiastronamo commented on #355
I do actually have the logs:
[snipped, available [here](http://pastebin.com/NLMuuAyx) but probably incomplete given comment limits on GitHub--TehGimp]

[2013-11-17 05:23] Arrowstar opened #359 "Undocking does not replace the previously docked ship in the tracking station"
Tonight another player and I managed to dock around the Mun.  When I docked with him, he was returned to the space center.  Upon going to the tracking station, he could not find the ship that he was previously flying.

It does not appear that undocking is being handled well.  I've seen this happen to me when I dock to another, non-player controlled ships on a server as well.  One of the two ships

[2013-11-17 05:26] TehGimp commented on #233
Good improvement @Wetmelon! @ruarai have you heard from PhonicUK about other changes to the server status info recently?

[2013-11-17 05:26] Arrowstar commented on #351
I've seen this too.  It usually happens when I try to launch, sometimes the save and/or launch buttons gray out at weird times (hover over save button, all buttons gray out, that sort of thing).

[2013-11-17 05:27] TehGimp commented on #351
Does hiding KMP UI (like chat and main window) affect this at all?

[2013-11-17 05:32] TehGimp commented on #359
The main problem here is that applying the vessel updates for the "new" vessel while not in the flight scene is still not working perfectly--in earlier versions you have to start or continue a flight to receive the new vessel, and in 0.1.3.0+ the vessel will be added to the Tracking Station map, but its icon is greyed out and non-selectable & it is not added to the Tracking Station vessel list unt

[2013-11-17 05:39] Arrowstar commented on #351
Yes.  Hiding the GUI with F7 eliminates the problem.

[2013-11-17 05:40] TehGimp commented on #303
@Wetmelon both sound like good improvements

so far the main sources of NREs at the Tracking Station remains elusive, but it's possible that other fixes aimed at preventing NRE floods will have benefits here.

[2013-11-17 05:41] TehGimp commented on #351
Does the main window have to be hidden? Hiding other visible windows isn't enough?

[2013-11-17 05:42] Arrowstar commented on #351
The issue doesn't seem to go away until I tap F7.

[2013-11-17 06:31] ruarai commented on #233
@TehGimp Haven't heard anything

[2013-11-17 09:01] Wetmelon commented on #155
Is this still happening as of .1.3.1 or was it just kind of a 1 time thing?

[2013-11-17 09:02] Wetmelon commented on #181
IIRC @PhonicUK did some updates to the connection errors did he not?  Can this be closed?

[2013-11-17 09:03] Wetmelon commented on #280
Did we ever decide if this was possible, prudent, or otherwise sensible?  Perhaps a simple light/readout would suffice?

[2013-11-17 09:13] Wetmelon commented on #110
Closing and tracking in #309

[2013-11-17 09:13] #110 closed, assigned to nobody

[2013-11-17 10:17] Wetmelon commented on #328
Tracking this ticket & discussion in #280

[2013-11-17 10:17] #328 closed, assigned to nobody

[2013-11-17 10:20] ghost commented on #155
never got this again

[2013-11-17 10:23] Wetmelon commented on #353
Linking #303 for information - If /listships information is added, we should also give the admin the ability to manipulate ships and subspaces more directly.

[2013-11-17 10:24] ghost commented on #280
to make green/purple circle around the sphere in the down or maybe the circle in the top of the screen or elsewhere.

for example it can be appear green circle near the height from kerbin caption and dissapear when we leave it.

[2013-11-17 14:16] Xinayder commented on #309
Maybe the XML structure could be: fav pos="#" name="server name" address="some.ip.here"

[2013-11-17 16:01] TheStonedRaider commented on #327
I have been having stuttering problems with Nearly every version of the client they all stutter every second on the main menu even  before logging onto any server, I have yet to experience the same issue within the game as on the menu.

[2013-11-17 16:29] TehGimp commented on #280
@Wetmelon At last report Nach0z was looking into alternate bubble indicators and, like AIMaster, he suggests that at a minimum we would benefit from adding a light or similar indication on the main filght HUD to indicate whether you had left the bubble or not without checking the player list. He was also looking into possibly adding a bearing to the "nearest edge" to the Navball IIRC.

[2013-11-17 16:30] TehGimp commented on #155
Tentatively closing, pre re-open if seen again in recent builds.

[2013-11-17 16:30] #155 closed, assigned to nobody

[2013-11-17 16:31] TehGimp commented on #181
@Wetmelon disconnection messages are nice and obvious if you're in-flight when it happens but otherwise it's not made immediately clear to the users. I believe that disconnection messages now appear on the Connection window correctly, but I should do some explicit retesting on this.

[2013-11-17 16:34] TehGimp commented on #353
Simple commands for manipulating whether a ship is marked as destroyed are a logical step for server administration, even if various upcoming fixes will address more of the root issues described here. This is a good introductory task for new contributors though, so let's leave it open for the moment since it isn't a major priority.

[2013-11-17 16:36] #347 closed, assigned to nobody

[2013-11-17 17:05] ghost opened #361 "highlight the name of the ship in tracking station \ map - to view where player is right now"
this belongs to:

Dimmy: guys, is it possible to highlight the name of the ship or smth else to see player?
[20:56] Dimmy: is it done or no yet?
[20:57] gimp: Dimmy you do get to see their name if you target the ship or highlight in map view, but no obvious distinction right now between controlled and uncontrolled vessels until you check the name one way or another
[20:58] Dimmy: but some indicato

[2013-11-17 17:12] ghost opened #362 "udp connection lost - spam in log"
got new bug in 0.1.3.1
 udp connection lost
 udp connection established
 udp connection lost
 udp connection established
 udp connection lost
 udp connection established
 udp connection lost
 udp connection established
 udp connection lost
 udp connection established
 udp connection lost
 udp connection established
 udp connection lost
 udp connection established
 udp connection lost
 udp connecti

[2013-11-17 17:15] ghost opened #363 "plane start to launch"
[LOG 21:12:26.673] [PlanetariumCamera]: Focus: Aeris 4A  - b0.1.2
[LOG 21:12:27.598] Flight State Captured
[LOG 21:12:28.460] Game State Saved as persistent
[LOG 21:12:29.905] [Aeris 4A  - b0.1.1]: ground contact! - error: 0.000m
[LOG 21:12:29.905] Unpacking Aeris 4A  - b0.1.1
[LOG 21:12:29.906] [Aeris 4A  - b0.1.2]: ground contact! - error: 0.000m
[LOG 21:12:29.907] Unpacking Aeris 4A  - b0.1.2
[

[2013-11-17 17:16] Xinayder opened #364 "Public Server List parses servers from kerbal.wlsing.nl"
This is a suggestion, but there should be a server list in which it gets the servers from Jumba's server list and then add them there. And you could also switch to the favorites and add your own favorites.

[2013-11-17 17:18] ghost opened #365 "got crash in 0.1.3.1 (just downloaded)"
(Filename: C:/BuildAgent/work/7535de4ca26c26ac/Runtime/ExportGenerated/StandalonePlayer/UnityEngineDebug.cpp Line: 54)

Packing Aeris 4A  - b0.1.2 for orbit

(Filename: C:/BuildAgent/work/7535de4ca26c26ac/Runtime/ExportGenerated/StandalonePlayer/UnityEngineDebug.cpp Line: 54)

Crash!!!
#

this happend when i try to launch my plane (0.1.2)
and during take off (end of bubble size?) i got KSP crash

[2013-11-17 17:19] Xinayder commented on #365
What the heck is Aeris 4A?

[2013-11-17 17:20] ghost commented on #365
this is dump from log.

"Aeris 4A - b0.1.2" is the name of modification of stock plane, which  i launched before 2 sec before crash

[2013-11-17 17:20] TehGimp commented on #362
The game should report when the UDP connection is lost and reconnected--not only is this useful information to show the player, but if you see spam like this it is a good sign that your connection to the server is slow/laggy enough that you will have other problems as well.

[2013-11-17 17:20] #362 closed, assigned to nobody

[2013-11-17 17:21] TehGimp commented on #363
Can you confirm how big the safety bubble on this server was, if you know? If the bubble is set to small this is expected behavior, see #321

[2013-11-17 17:22] ghost commented on #362
ok

[2013-11-17 17:24] TehGimp commented on #364
Other than when PhonicUK feels like spending time on it, the server list is not a current priority. I'm marking this as invalid because we almost certainly won't scrape an unofficial list as part of server list software that comes with KMP--the server list, if and when it is completed, will be delivered blank so that server list operators can add the servers **_they**_ want to track instead of one

[2013-11-17 17:24] #364 closed, assigned to nobody

[2013-11-17 17:25] TehGimp commented on #365
@AIMaster Just to confirm, the Aeris 4A = b0.1.2 that it says it packed for orbit was the plane you were flying?

[2013-11-17 17:25] ghost commented on #363
Welcome to Area 51 Server 1 - #KMP on irc.ester.net - Please clear out your debris  ksp.zone-51.org
dont know.

how to check?

it was happend minute ago

[2013-11-17 17:26] ghost commented on #365
yes

and no other usefull info in log.

[2013-11-17 17:26] TehGimp commented on #363
I'm not sure what Area 51 is set to, but it should be something reasonable--I'll ask the server op if I see him around, but he's been sick for a few days now. Make noise if you see similar problems on any other servers too

[2013-11-17 17:26] Xinayder commented on #314
Actually it can be done. Before .1.3 it was possible, don't know in .1.3. But I'm running d.1.4 and it works fine.

[2013-11-17 17:36] TehGimp commented on #200
No longer able to reproduce this by sending bad data to the server--it correctly ignores incoming clients that fail to handshake successfully. Tentatively closing, as I'm not sure if we addressed the issue where an unexpected Telnet connection could conceivably bring down the server.

[2013-11-17 17:36] #200 closed, assigned to nobody

[2013-11-17 17:38] ghost commented on #363
ooooooook

[2013-11-17 17:44] Xinayder opened #366 "Ability to clear chat messages"
So if you just type !help in the in-game chat, it will "spam" your chat window, there should be a command like !chat clear

[2013-11-17 18:53] ghost commented on #366
no no no. just

"!clear"

without "chat"

[2013-11-17 19:34] Wetmelon commented on #309
Actually the position value isn't even getting used at the moment, I might remove it.  The ArrayList populates in the order on the screen and prints to the file in the same order, so it's in the correct order by default.

I'm also debating using:
<fav address="some.ip.here" username="What username to use">The Name of the Server</fav>

[2013-11-17 20:55] krzys-h commented on #354
I'm expirencing something like this except it says that "Kerbals are on the ladder", doesn't work even after reconecting.

[2013-11-17 22:21] alvaro-cuesta commented on #355
@Techiastronamo the client log (in your game folder) would be awesome too, it might be related to #337 if `NullReferenceException`s are thrown..

[2013-11-17 22:33] #354 closed, assigned to TehGimp

[2013-11-17 22:35] fore5fire commented on #354
@krzys-h What version of KMP were you using when you had this issue? If you are still having this problem in the latest version you should open a new issue with any information you can provide (steps to reproduce, etc).

[2013-11-17 22:40] fore5fire commented on #264
Related to the issue with addRemoteVessel, ever since the change that stopped kerbels from having Die() called on them, I've been having new kerbals spawn in space after returning from EVA ocassionally. I'd open a new issue for it but I figure if you're already working on it I would just let you know.

[2013-11-17 22:53] Arrowstar opened #369 "Vessels are not always saved to server after being launched/created"
I've noticed many times now that vessels that I launch into orbit are not always saved to the server.  I'll place a satellite or some such thing into Kerbin orbit, disconnect, and come back in a few hours to the satellite not being there.  Vessels also don't appear to save if you're disconnected for connection reasons.

A more robust vessel/vessel state saving feature is needed.

[2013-11-17 23:07] Techiastronamo commented on #355
Alright. Here is my client (ksp.log) log:
[snipped, available [here](http://pastebin.com/APZ4a8c4) but cut off before game gets started--TehGimp]

[2013-11-17 23:08] Techiastronamo commented on #355
Accidentally closed the issue. Reopened!

[2013-11-17 23:16] TehGimp commented on #355
@Techiastronamo the logs you pasted end up getting cut off well before the important portion and take up a lot of space on this page, so I'm going to edit down those posts. If able, can you post the logs again but as links to something on [pastebin](http://pastebin.com), or maybe a free filehost of your choice, or a sharing service like Dropbox?

[2013-11-18 00:05] #366 closed, assigned to nobody

[2013-11-18 00:12] alvaro-cuesta commented on #355
@Techiastronamo also, you might want to paste only the game run where the problem happened, either by looking at time in log lines or reproducing the problem again and pasting the last portion of the log (since the last `Kerbal Space Program - 0.22.0.351 (WindowsPlayer)` line).

[2013-11-18 00:29] TehGimp commented on #264
I think I finally cracked the big one and have incidentally tidied up a bunch of other issues with spawning new vessels nearby the active player (possibly). Still testing, but it looks like the only thing left to look at before merging to master is any remaining warp/sync issues!

[2013-11-18 00:40] fore5fire commented on #264
Awesome! I think I've almost got the sync issue worked out too. Hopefully I can get it locked down tonight.

[2013-11-18 00:45] BCSpazer commented on #346
I have the same issue with the two servers I host on KerbalSpace.Spazer.net that are actively used - I end up having to clear the stock one (the most active) once a day.

Last time I had to clear, it seemed a Kerbal on the surface was "On a Ladder" of a crashed vehicle - not allowing anyone to sync to the server once successfully connecting.

Here's the Universe from the stock server:

https://dri

[2013-11-18 01:42] draeath commented on #337
Note: I just now experienced this issue with NO output printing to KSP.log or KMP's console/log - KMP is set to debug, and KSP has VERBOSE_DEBUG_LOG = True.

[2013-11-18 03:00] draeath commented on #353
Should include the ability to prune marked-as-destroyed from the db entirely, else the database will grow indefinitely (assuming there is no other mechanism in-place for this)

[2013-11-18 04:14] fore5fire commented on #264
The only other issue with syncing is if you try to observe someone who's in the past. Should that just be not allowed?

[2013-11-18 04:45] TehGimp commented on #264
Landmine130--yes, perhaps in that particular scenario we should revert to the old kick-to-Tracking-Station behaviour, or altervatively just show the present version of the vessel. Going back in time brings up too many headaches to entertain right now.

[2013-11-18 04:52] fore5fire commented on #264
Hmm if I recall future projections of vessels move around wildly just from slight rotation if the ship is wobbly at all. That might get a bit disorienting. Then again I guess it could be fun haha.

[2013-11-18 09:56] godarklight commented on #312
The krakens are screaming really loud now. I added some debug lines and this is what I found:

(On client)
New max message length: 587894 (The extra 8 bytes are the header - It's supposed to be different because of where I caught the data)

(On server)
New max data length: 587886
New max message length: 587886
New max data length: 1614039052

Git kung-fu-er-y for testing purposes:
git remote add g

[2013-11-18 10:05] alvaro-cuesta commented on #337
@draeath I'd like to reproduce that too. How did you reproduce it and at what distance?

**EDIT:** I could reproduce it without NRE in master@c4f63a5. The stutter begins **exactly** at 2250m but it gets REALLY unbearable exactly after `Unpacking [target vessel name]` is printed in the log. It gets a little better exactly after `Packing [target vessel name] for orbit` and disappears completely afte

[2013-11-18 13:21] Techiastronamo commented on #355
Alright. Give me 2 days to reproduce it. I will send the last line(s) of the log for that session!

[2013-11-18 14:15] Gartral opened #371 "rovers lauched without taking off and driving around KSC get saved to server even though they are in the bubble, and sent to all clients, making them impossible to delete"
As the title says, it appears that there are certain conditions in which a craft at KSC can be "Launched" and remain inside the bubble for all players, this has made it exceptionally difficult to take off and all attempts to remove the offending craft have proven futile.. this includes the following methods;

Recover craft from the button while controlling it
Recover Craft from Tracking Station
Re

[2013-11-18 16:19] draeath commented on #337
It's difficult for me to tell you exactly when it starts. It seems to start at some point shortly after closing to 5km, and seems to persist until that distance is again exceeded. In the case of docking, the issue persists after docking but if you leave to the space center and then fly the docked vessel again, normal performance is observed. The MET occasionally goes yellow or red during the slowd

[2013-11-18 16:22] draeath commented on #359
I've noticed that double-clicking the flight in the list (or selecting another flight first, such as Jeb at the KSC) allows you to fly the vessel even though the fly button is greyed out. Is anyone able to reproduce that behavior? (0.1.3.1)

[2013-11-18 17:15] Xinayder commented on #371
I have a suggestion: admins at the admins list should be able to delete other players' vessels.

[2013-11-18 20:09] Nach0z commented on #337
@draeath , can you check to see if you updated your graphics drivers recently? possibly an auto-update through Windows? noted in IRC that @alvaro-cuesta 's drivers were updated very recently, and that the stutter is also happening in single-player vanilla KSP, so drivers may be the culprit here.

[2013-11-18 20:20] draeath commented on #337
Here's a strange one for you then: I run the game in borderless-window mode, and I can run another 3D application in a window on top of KSP, and it runs at normal speed while KSP continues to act the way that it does. (nvidia 460 GTX, whatever version has been current for the last week or so)

I will try to replicate this in single-player to be sure, though.

[2013-11-18 21:23] alvaro-cuesta commented on #337
@draeath _"Nvidia 460 GTX"_. BINGO. I have the same card and both we updated drivers about one week ago (0.1.3.0 came out on Nov 12th, I updated on 13th) and only we can reproduce the issue (TheGimp tried to reproduce from my save, but couldn't). Smells fishy.

At least for me the issue is present in single player, I'd love to hear if you're having issues in vanilla KSP too (I even uninstalled all

[2013-11-19 00:43] alvaro-cuesta commented on #240
@AIMaster this seems easily hackable. I would just download the source, modify a few lines to report no plugins to the server and voilá.

The only way to enforce correct behavior is to check the actual simulation in server, but that would make the server very resource intensive (and probably impractical because it would have to simulate lots of players).

[2013-11-19 01:20] oldmud0 commented on #352
Cannot reproduce.

[2013-11-19 01:24] alvaro-cuesta commented on #276
As I said in #240, the only reliable way to prevent cheating is to actually simulate the game acting as an authoritative server. Whatever you do in KMP could be easily reversed downloading the client-side code and mangling the sent data. Since I suspect it's not possible and probably server couldn't/won't handle each client simulation, I would classify this as a "known issue" and just move on.

[2013-11-19 01:28] alvaro-cuesta commented on #237
My proposal: during the first login the server generates a random `salt`, sends it to the client and asks for `hash(password + salt)`, storing both `salt` and the result hash as credentials in the DB. When attempting login to a known nickname, the server sends a random `challenge` and the previously stored `salt` and the client must authenticate with `hash(challenge + hash(password + salt))`.

If

[2013-11-19 01:39] Wetmelon commented on #276
unless there's some way to set nocheats or nomods in the scenario settings, its going to be reversible

[2013-11-19 06:35] ghost commented on #240
so this can be usefull for kiddies.
there are a lot here.
so simple anticheat system should be here.

[2013-11-19 07:27] Aringarosa opened #373 "Ghost-Privat-Flag"
Google Translator

Since I had brought me on Saturday morning (in Germany) me the latest GIT build, we have the problem that if you quickly change the Vessels or even by tracking center -> Vessel and back they appear regularly privately afterwards. But only for that made the action.

If you log out and reconnects, the private flags are gone. Even with the build of this morning it just happens to m

[2013-11-19 18:59] ghost opened #375 "enhancement: default vessel (eva) privation status"
add option to user's option window:
- default vessel (eva)  privation status:

add to choose: private\public

for example, its better for that all my vessels(eva) by default would be private, not public.

[2013-11-19 19:50] #242 closed, assigned to PhonicUK

[2013-11-19 19:55] PhonicUK commented on #276
Best I think that could be helped for is to disable the cheats window. Wouldn't be able to stop someone who compiled their own client without that in though.

[2013-11-19 19:58] TehGimp commented on #276
@PhonicUK hiding/disabling KSP's baked in cheats is one thing, but what I hope to look at in the future is having the server optionally watch for obviously abusive client behaviour from use of mods like HyperEdit e.g. suddenly jumping to a new location that is far beyond where your vessel could conceivably move in a single "tick".

[2013-11-19 20:08] PhonicUK commented on #276
Well to some degree it is possible. As you say if something moves at an obscene speed then obviously something is wrong.

[2013-11-19 20:11] TehGimp commented on #373
We are making changes to some of the privacy handling that should help fix these problems as part of adding the new spectating feature.

Right now the Lock is always visible except if you use F7 or the "X" button to hide KMP UI. We will make it so you can hide the Lock if we find a way that looks OK.

[2013-11-20 04:10] godarklight commented on #369
The first type I've noticed on the dev server recently, It feels like switching with [ and ] keys makes the craft disappear, but not completely sure. I've seen it in a stable orbit, resynced, EVA'ed a kerbal over to it, resynced and _poof_. Station gone :-/.

The second type (and I'd bet money on this), would have to be related to my bug #312. If your internet isn't all that fast, launching/dockin

[2013-11-20 05:35] Wetmelon commented on #351
Fixed by 3a2a21c.  It was a lock that was verifying if ChatDX was enabled, and if the mouse was in the region of ChatOG (which is invisible).

[2013-11-20 05:35] #351 closed, assigned to nobody

[2013-11-20 05:47] godarklight commented on #312
Still getting a little closer. The header has to be getting reset at some unknown position. Also you throw a max message size exception and then catch it without printing anything to the console.

New big message from 1 length: 55233
New big data length: 55233

New big message from -861643577 length: 1532446538
Threw MAX_MESSAGE_SIZE Exception

[2013-11-20 06:07] Wetmelon commented on #309
Still a few things that could be added, but I'm going to close this one for the purposes of what I initially set out to do.

[2013-11-20 06:07] #309 closed, assigned to nobody

[2013-11-20 06:27] Aringarosa commented on #373
Googel translator

I have reproduced the target times. It is less a private label than the state as I would still control the object. "Probe 3 < Aringarosa >" After the change there is just no update that no one longer controls.

[2013-11-20 06:28] godarklight commented on #312
Added more debug info to my branch

The data was exactly the same 1513
The data was exactly the same 1513
The data was exactly the same 1513
New big message from 1769234805 length: 93807
The data was exactly the same 93807
New big data length: 93807
New big message from -1095681652 length: 1779898192
Threw MAX_MESSAGE_SIZE Exception

[2013-11-20 07:27] Wetmelon commented on #352
Me neither.  Could have been a one-time thing.  I'll close and re-open it if I see this issue again.

[2013-11-20 07:28] Wetmelon commented on #62
One of the IRC members has been working on a GUI for the server.  Would you like to by able to manipulate the server tables via GUI?  Or at least view them?